**/artifacts/

php/*
!php/composer.json
!php/Example.php
!php/test
!php/test_fixtures

python/*
!python/Example.py
!python/requirements.txt
!python/tests
!python/test_fixtures

ruby/*
!ruby/Example.rb
!ruby/Gemfile
!ruby/spec
!ruby/test_fixtures
