dotnet/*
!dotnet/.gitignore
!dotnet/hellosign_sandbox.csproj
!dotnet/NuGet.Config
!dotnet/Program.cs

java/*
!java/pom.xml
!java/src/main/java/com/hellosign/sandbox/Main.java

node/*
!node/Example.ts
!node/package.json

php/*
!php/Example.php
!php/composer.json

python/*
!python/Example.py
!python/requirements.txt

ruby/*
!ruby/Example.rb
!ruby/Gemfile
