repos/*
!repos/.gitkeep
sdks/**/openapi-sdk.yaml
sdks/**/examples
sdks/**/test_fixtures
sdks/**/vendor
vendor
.idea

sandbox/dotnet/*
!sandbox/dotnet/.gitignore
!sandbox/dotnet/hellosign_sandbox.csproj
!sandbox/dotnet/NuGet.Config
!sandbox/dotnet/Program.cs

sandbox/node/*
!sandbox/node/Example.ts
!sandbox/node/package.json

sandbox/php/*
!sandbox/php/Example.php
!sandbox/php/composer.json

sandbox/python/*
!sandbox/python/Example.py
!sandbox/python/requirements.txt

sandbox/ruby/*
!sandbox/ruby/Example.rb
!sandbox/ruby/Gemfile
