openapi: 3.0.3
info:
  title: '_t__OpenApi::TITLE'
  description: '_t__OpenApi::DESCRIPTION'
  termsOfService: 'https://www.hellosign.com/terms'
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: 3.0.0
servers:
  -
    url: 'https://api.hellosign.com/v3'
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: '_t__AccountCreate::SUMMARY'
      description: '_t__AccountCreate::DESCRIPTION'
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountCreateRequest'
              oauth_example:
                $ref: '#/components/examples/AccountCreateRequestOAuth'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountCreateResponse'
                oauth_example:
                  $ref: '#/components/examples/AccountCreateOAuthResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountCreateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountCreateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountCreateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountCreateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountCreateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountCreateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountCreateExample.sh
      x-meta:
        seo:
          title: '_t__AccountCreate::SEO::TITLE'
          description: '_t__AccountCreate::SEO::DESCRIPTION'
  /account:
    get:
      tags:
        - Account
      summary: '_t__AccountGet::SUMMARY'
      description: '_t__AccountGet::DESCRIPTION'
      operationId: accountGet
      parameters:
        -
          name: account_id
          in: query
          description: '_t__AccountGet::ACCOUNT_ID'
          required: false
          schema:
            type: string
        -
          name: email_address
          in: query
          description: '_t__AccountGet::EMAIL_ADDRESS'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
            - basic_account_info
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountGetExample.sh
      x-meta:
        seo:
          title: '_t__AccountGet::SEO::TITLE'
          description: '_t__AccountGet::SEO::DESCRIPTION'
    put:
      tags:
        - Account
      summary: '_t__AccountUpdate::SUMMARY'
      description: '_t__AccountUpdate::DESCRIPTION'
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountUpdateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountUpdateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountUpdateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountUpdateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountUpdateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountUpdateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountUpdateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountUpdateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountUpdateExample.sh
      x-meta:
        seo:
          title: '_t__AccountUpdate::SEO::TITLE'
          description: '_t__AccountUpdate::SEO::DESCRIPTION'
  /account/verify:
    post:
      tags:
        - Account
      summary: '_t__AccountVerify::SUMMARY'
      description: '_t__AccountVerify::DESCRIPTION'
      operationId: accountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountVerifyRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountVerifyFoundResponse'
                not_found_example:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountVerifyExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountVerifyExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountVerifyExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountVerifyExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountVerifyExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountVerifyExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountVerifyExample.sh
      x-meta:
        seo:
          title: '_t__AccountVerify::SEO::TITLE'
          description: '_t__AccountVerify::SEO::DESCRIPTION'
  /api_app:
    post:
      tags:
        - 'Api App'
      summary: '_t__ApiAppCreate::SUMMARY'
      description: '_t__ApiAppCreate::DESCRIPTION'
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/ApiAppCreateRequest'
          multipart/form-data:
            schema:
              required:
                - api_app_create_request
              properties:
                api_app_create_request:
                  $ref: '#/components/schemas/ApiAppCreateRequest'
              type: object
      responses:
        '201':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppCreateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppCreateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppCreateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppCreateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppCreateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppCreateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppCreateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppCreateExample.sh
      x-meta:
        seo:
          title: '_t__ApiAppCreate::SEO::TITLE'
          description: '_t__ApiAppCreate::SEO::DESCRIPTION'
  '/api_app/{client_id}':
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppGet::SUMMARY'
      description: '_t__ApiAppGet::DESCRIPTION'
      operationId: apiAppGet
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppGet::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppGetExample.sh
      x-meta:
        seo:
          title: '_t__ApiAppGet::SEO::TITLE'
          description: '_t__ApiAppGet::SEO::DESCRIPTION'
    put:
      tags:
        - 'Api App'
      summary: '_t__ApiAppUpdate::SUMMARY'
      description: '_t__ApiAppUpdate::DESCRIPTION'
      operationId: apiAppUpdate
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppUpdate::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              example:
                $ref: '#/components/examples/ApiAppUpdateRequest'
          multipart/form-data:
            schema:
              required:
                - api_app_update_request
              properties:
                api_app_update_request:
                  $ref: '#/components/schemas/ApiAppUpdateRequest'
              type: object
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppUpdateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppUpdateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppUpdateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppUpdateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppUpdateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppUpdateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppUpdateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppUpdateExample.sh
      x-meta:
        seo:
          title: '_t__ApiAppUpdate::SEO::TITLE'
          description: '_t__ApiAppUpdate::SEO::DESCRIPTION'
    delete:
      tags:
        - 'Api App'
      summary: '_t__ApiAppDelete::SUMMARY'
      description: '_t__ApiAppDelete::DESCRIPTION'
      operationId: apiAppDelete
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppDelete::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '204':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppDeleteExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppDeleteExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppDeleteExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppDeleteExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppDeleteExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppDeleteExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppDeleteExample.sh
      x-meta:
        seo:
          title: '_t__ApiAppDelete::SEO::TITLE'
          description: '_t__ApiAppDelete::SEO::DESCRIPTION'
  /api_app/list:
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppList::SUMMARY'
      description: '_t__ApiAppList::DESCRIPTION'
      operationId: apiAppList
      parameters:
        -
          name: page
          in: query
          description: '_t__ApiAppList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__ApiAppList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppListExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppListExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppListExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppListExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppListExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppListExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppListExample.sh
      x-meta:
        seo:
          title: '_t__ApiAppList::SEO::TITLE'
          description: '_t__ApiAppList::SEO::DESCRIPTION'
  '/bulk_send_job/{bulk_send_job_id}':
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobGet::SUMMARY'
      description: '_t__BulkSendJobGet::DESCRIPTION'
      operationId: bulkSendJobGet
      parameters:
        -
          name: bulk_send_job_id
          in: path
          description: '_t__BulkSendJobGet::BULK_SEND_JOB_ID'
          required: true
          schema:
            type: string
          example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
        -
          name: page
          in: query
          description: '_t__BulkSendJobGet::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__BulkSendJobGet::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/BulkSendJobGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobGetExample.sh
      x-meta:
        seo:
          title: '_t__BulkSendJobGet::SEO::TITLE'
          description: '_t__BulkSendJobGet::SEO::DESCRIPTION'
  /bulk_send_job/list:
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobList::SUMMARY'
      description: '_t__BulkSendJobList::DESCRIPTION'
      operationId: bulkSendJobList
      parameters:
        -
          name: page
          in: query
          description: '_t__BulkSendJobList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__BulkSendJobList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                example:
                  $ref: '#/components/examples/BulkSendJobListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobListExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobListExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobListExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobListExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobListExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobListExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobListExample.sh
      x-meta:
        seo:
          title: '_t__BulkSendJobList::SEO::TITLE'
          description: '_t__BulkSendJobList::SEO::DESCRIPTION'
  '/embedded/edit_url/{template_id}':
    post:
      tags:
        - Embedded
      summary: '_t__EmbeddedEditUrl::SUMMARY'
      description: '_t__EmbeddedEditUrl::DESCRIPTION'
      operationId: embeddedEditUrl
      parameters:
        -
          name: template_id
          in: path
          description: '_t__EmbeddedEditUrl::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
            examples:
              example:
                $ref: '#/components/examples/EmbeddedEditUrlRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
              examples:
                example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedEditUrlExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedEditUrlExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedEditUrlExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedEditUrlExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedEditUrlExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedEditUrlExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedEditUrlExample.sh
      x-meta:
        seo:
          title: '_t__EmbeddedEditUrl::SEO::TITLE'
          description: '_t__EmbeddedEditUrl::SEO::DESCRIPTION'
  '/embedded/sign_url/{signature_id}':
    get:
      tags:
        - Embedded
      summary: '_t__EmbeddedSignUrl::SUMMARY'
      description: '_t__EmbeddedSignUrl::DESCRIPTION'
      operationId: embeddedSignUrl
      parameters:
        -
          name: signature_id
          in: path
          description: '_t__EmbeddedSignUrl::SIGNATURE_ID'
          required: true
          schema:
            type: string
          example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
              examples:
                example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedSignUrlExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedSignUrlExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedSignUrlExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedSignUrlExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedSignUrlExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedSignUrlExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedSignUrlExample.sh
      x-meta:
        seo:
          title: '_t__EmbeddedSignUrl::SEO::TITLE'
          description: '_t__EmbeddedSignUrl::SEO::DESCRIPTION'
  '/fax/{fax_id}':
    get:
      tags:
        - Fax
      summary: '_t__FaxGet::SUMMARY'
      description: '_t__FaxGet::DESCRIPTION'
      operationId: faxGet
      parameters:
        -
          name: fax_id
          in: path
          description: '_t__FaxParam::FAX_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxGetExample.sh
      x-meta:
        seo:
          title: '_t__FaxGet::SEO::TITLE'
          description: '_t__FaxGet::SEO::DESCRIPTION'
    delete:
      tags:
        - Fax
      summary: '_t__FaxDelete::SUMMARY'
      description: '_t__FaxDelete::DESCRIPTION'
      operationId: faxDelete
      parameters:
        -
          name: fax_id
          in: path
          description: '_t__FaxParam::FAX_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '204':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxDeleteExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxDeleteExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxDeleteExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxDeleteExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxDeleteExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxDeleteExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxDeleteExample.sh
      x-meta:
        seo:
          title: '_t__FaxDelete::SEO::TITLE'
          description: '_t__FaxDelete::SEO::DESCRIPTION'
  '/fax/files/{fax_id}':
    get:
      tags:
        - Fax
      summary: '_t__FaxFiles::SUMMARY'
      description: '_t__FaxFiles::DESCRIPTION'
      operationId: faxFiles
      parameters:
        -
          name: fax_id
          in: path
          description: '_t__FaxParam::FAX_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxFilesExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxFilesExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxFilesExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxFilesExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxFilesExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxFilesExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxFilesExample.sh
      x-meta:
        seo:
          title: '_t__FaxFiles::SEO::TITLE'
          description: '_t__FaxFiles::SEO::DESCRIPTION'
  /fax_line/add_user:
    put:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineAddUser::SUMMARY'
      description: '_t__FaxLineAddUser::DESCRIPTION'
      operationId: faxLineAddUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxLineAddUserRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxLineAddUserRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineAddUserExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineAddUserExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineAddUserExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineAddUserExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineAddUserExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineAddUserExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineAddUserExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineAddUser::SEO::TITLE'
          description: '_t__FaxLineAddUser::SEO::DESCRIPTION'
  /fax_line/area_codes:
    get:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineAreaCodeGet::SUMMARY'
      description: '_t__FaxLineAreaCodeGet::DESCRIPTION'
      operationId: faxLineAreaCodeGet
      parameters:
        -
          name: country
          in: query
          description: '_t__FaxLineAreaCodeGet::COUNTRY'
          required: true
          schema:
            type: string
            enum:
              - CA
              - US
              - UK
            example: US
        -
          name: state
          in: query
          description: '_t__FaxLineAreaCodeGet::STATE'
          schema:
            type: string
            enum:
              - AK
              - AL
              - AR
              - AZ
              - CA
              - CO
              - CT
              - DC
              - DE
              - FL
              - GA
              - HI
              - IA
              - ID
              - IL
              - IN
              - KS
              - KY
              - LA
              - MA
              - MD
              - ME
              - MI
              - MN
              - MO
              - MS
              - MT
              - NC
              - ND
              - NE
              - NH
              - NJ
              - NM
              - NV
              - NY
              - OH
              - OK
              - OR
              - PA
              - RI
              - SC
              - SD
              - TN
              - TX
              - UT
              - VA
              - VT
              - WA
              - WI
              - WV
              - WY
        -
          name: province
          in: query
          description: '_t__FaxLineAreaCodeGet::PROVINCE'
          schema:
            type: string
            enum:
              - AB
              - BC
              - MB
              - NB
              - NL
              - NT
              - NS
              - NU
              - 'ON'
              - PE
              - QC
              - SK
              - YT
        -
          name: city
          in: query
          description: '_t__FaxLineAreaCodeGet::CITY'
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineAreaCodeGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineAreaCodeGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineAreaCodeGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineAreaCodeGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineAreaCodeGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineAreaCodeGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineAreaCodeGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineAreaCodeGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineAreaCodeGetExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineAreaCodeGet::SEO::TITLE'
          description: '_t__FaxLineAreaCodeGet::SEO::DESCRIPTION'
  /fax_line/create:
    post:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineCreate::SUMMARY'
      description: '_t__FaxLineCreate::DESCRIPTION'
      operationId: faxLineCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxLineCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxLineCreateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineCreateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineCreateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineCreateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineCreateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineCreateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineCreateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineCreateExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineCreate::SEO::TITLE'
          description: '_t__FaxLineCreate::SEO::DESCRIPTION'
  /fax_line:
    get:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineGet::SUMMARY'
      description: '_t__FaxLineGet::DESCRIPTION'
      operationId: faxLineGet
      parameters:
        -
          name: number
          in: query
          description: '_t__FaxLineGet::NUMBER'
          required: true
          schema:
            type: string
            example: 123-123-1234
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineGetExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineGetExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineGetExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineGetExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineGetExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineGetExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineGetExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineGet::SEO::TITLE'
          description: '_t__FaxLineGet::SEO::DESCRIPTION'
    delete:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineDelete::SUMMARY'
      description: '_t__FaxLineDelete::DESCRIPTION'
      operationId: faxLineDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxLineDeleteRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxLineDeleteRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {  }
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineDeleteExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineDeleteExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineDeleteExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineDeleteExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineDeleteExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineDeleteExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineDeleteExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineDelete::SEO::TITLE'
          description: '_t__FaxLineDelete::SEO::DESCRIPTION'
  /fax_line/list:
    get:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineList::SUMMARY'
      description: '_t__FaxLineList::DESCRIPTION'
      operationId: faxLineList
      parameters:
        -
          name: account_id
          in: query
          description: '_t__FaxLineList::ACCOUNT_ID'
          schema:
            type: string
            example: ab55cd14a97219e36b5ff5fe23f2f9329b0c1e97
        -
          name: page
          in: query
          description: '_t__FaxLineList::PAGE'
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: '_t__FaxLineList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
            example: 20
        -
          name: show_team_lines
          in: query
          description: '_t__FaxLineList::SHOW_TEAM_LINES'
          schema:
            type: boolean
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineListResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineListExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineListExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineListExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineListExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineListExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineListExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineListExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineList::SEO::TITLE'
          description: '_t__FaxLineList::SEO::DESCRIPTION'
  /fax_line/remove_user:
    put:
      tags:
        - 'Fax Line'
      summary: '_t__FaxLineRemoveUser::SUMMARY'
      description: '_t__FaxLineRemoveUser::DESCRIPTION'
      operationId: faxLineRemoveUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxLineRemoveUserRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxLineRemoveUserRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxLineResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxLineResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxLineRemoveUserExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxLineRemoveUserExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxLineRemoveUserExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxLineRemoveUserExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxLineRemoveUserExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxLineRemoveUserExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxLineRemoveUserExample.sh
      x-meta:
        seo:
          title: '_t__FaxLineRemoveUser::SEO::TITLE'
          description: '_t__FaxLineRemoveUser::SEO::DESCRIPTION'
  /fax/list:
    get:
      tags:
        - Fax
      summary: '_t__FaxList::SUMMARY'
      description: '_t__FaxList::DESCRIPTION'
      operationId: faxList
      parameters:
        -
          name: page
          in: query
          description: '_t__FaxList::PAGE'
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        -
          name: page_size
          in: query
          description: '_t__FaxList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
          example: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxListResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxListExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxListExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxListExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxListExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxListExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxListExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxListExample.sh
      x-meta:
        seo:
          title: '_t__FaxList::SEO::TITLE'
          description: '_t__FaxList::SEO::DESCRIPTION'
  /fax/send:
    post:
      tags:
        - Fax
      summary: '_t__FaxSend::SUMMARY'
      description: '_t__FaxSend::DESCRIPTION'
      operationId: faxSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxSendRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxSendRequest'
          multipart/form-data:
            schema:
              required:
                - fax_send_request
              properties:
                fax_send_request:
                  $ref: '#/components/schemas/FaxSendRequest'
              type: object
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/FaxSendExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/FaxSendExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/FaxSendExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/FaxSendExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/FaxSendExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/FaxSendExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/FaxSendExample.sh
      x-meta:
        seo:
          title: '_t__FaxSend::SEO::TITLE'
          description: '_t__FaxSend::SEO::DESCRIPTION'
  /oauth/token:
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenGenerate::SUMMARY'
      description: '_t__OAuthTokenGenerate::DESCRIPTION'
      operationId: oauthTokenGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
            examples:
              example:
                $ref: '#/components/examples/OAuthTokenGenerateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenGenerateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenGenerateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenGenerateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenGenerateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenGenerateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenGenerateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenGenerateExample.sh
      x-meta:
        seo:
          title: '_t__OAuthTokenGenerate::SEO::TITLE'
          description: '_t__OAuthTokenGenerate::SEO::DESCRIPTION'
      x-hideTryItPanel: true
  '/oauth/token?refresh':
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenRefresh::SUMMARY'
      description: '_t__OAuthTokenRefresh::DESCRIPTION'
      operationId: oauthTokenRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
            examples:
              example:
                $ref: '#/components/examples/OAuthTokenRefreshRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenRefreshExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenRefreshExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenRefreshExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenRefreshExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenRefreshExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenRefreshExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenRefreshExample.sh
      x-meta:
        seo:
          title: '_t__OAuthTokenRefresh::SEO::TITLE'
          description: '_t__OAuthTokenRefresh::SEO::DESCRIPTION'
      x-hideTryItPanel: true
  /report/create:
    post:
      tags:
        - Report
      summary: '_t__ReportCreate::SUMMARY'
      description: '_t__ReportCreate::DESCRIPTION'
      operationId: reportCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/ReportCreateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/ReportCreateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ReportCreateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ReportCreateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ReportCreateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ReportCreateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ReportCreateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ReportCreateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ReportCreateExample.sh
      x-meta:
        seo:
          title: '_t__ReportCreate::SEO::TITLE'
          description: '_t__ReportCreate::SEO::DESCRIPTION'
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              required:
                - signature_request_bulk_create_embedded_with_template_request
              properties:
                signature_request_bulk_create_embedded_with_template_request:
                  $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
              type: object
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::TITLE'
          description: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::DESCRIPTION'
  /signature_request/bulk_send_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkSendWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkSendWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequest'
          multipart/form-data:
            schema:
              required:
                - signature_request_bulk_send_with_template_request
              properties:
                signature_request_bulk_send_with_template_request:
                  $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
              type: object
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplateExample.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestBulkSendWithTemplate::SEO::TITLE'
          description: '_t__SignatureRequestBulkSendWithTemplate::SEO::DESCRIPTION'
  '/signature_request/cancel/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCancel::SUMMARY'
      description: '_t__SignatureRequestCancel::DESCRIPTION'
      operationId: signatureRequestCancel
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestCancel::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {  }
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCancelExample.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCancelExample.cs
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCancelExample.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCancelExample.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCancelExample.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCancelExample.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCancelExample.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestCancel::SEO::TITLE'
          description: '_t__SignatureRequestCancel::SEO::DESCRIPTION'
  /signature_request/create_embedded:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCreateEmbedded::SUMMARY'
      description: '_t__SignatureRequestCreateEmbedded::DESCRIPTION'
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequest'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestGroupedSigners'
          multipart/form-data:
            schema:
              required:
                - signature_request_create_embedded_request
              properties:
                signature_request_create_embedded_request:
                  $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
              type: object
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
[...]
