openapi: 3.0.3
info:
  title: '_t__OpenApi::TITLE'
  description: '_t__OpenApi::DESCRIPTION'
  termsOfService: 'https://www.hellosign.com/terms'
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: 3.0.0
servers:
  -
    url: 'https://api.hellosign.com/v3'
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: '_t__AccountCreate::SUMMARY'
      description: '_t__AccountCreate::DESCRIPTION'
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountCreateRequestDefaultExample'
              oauth:
                $ref: '#/components/examples/AccountCreateRequestOAuthExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountCreateResponseExample'
                oauth:
                  $ref: '#/components/examples/AccountCreateOAuthResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountCreate.sh
      x-meta:
        seo:
          title: '_t__AccountCreate::SEO::TITLE'
          description: '_t__AccountCreate::SEO::DESCRIPTION'
  /account:
    get:
      tags:
        - Account
      summary: '_t__AccountGet::SUMMARY'
      description: '_t__AccountGet::DESCRIPTION'
      operationId: accountGet
      parameters:
        -
          name: account_id
          in: query
          description: '_t__AccountGet::ACCOUNT_ID'
          required: false
          schema:
            type: string
        -
          name: email_address
          in: query
          description: '_t__AccountGet::EMAIL_ADDRESS'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
            - basic_account_info
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountGet.sh
      x-meta:
        seo:
          title: '_t__AccountGet::SEO::TITLE'
          description: '_t__AccountGet::SEO::DESCRIPTION'
    put:
      tags:
        - Account
      summary: '_t__AccountUpdate::SUMMARY'
      description: '_t__AccountUpdate::DESCRIPTION'
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountUpdateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountUpdate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountUpdate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountUpdate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountUpdate.sh
      x-meta:
        seo:
          title: '_t__AccountUpdate::SEO::TITLE'
          description: '_t__AccountUpdate::SEO::DESCRIPTION'
  /account/verify:
    post:
      tags:
        - Account
      summary: '_t__AccountVerify::SUMMARY'
      description: '_t__AccountVerify::DESCRIPTION'
      operationId: accountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountVerifyRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountVerifyFoundResponseExample'
                not_found:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountVerify.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountVerify.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountVerify.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountVerify.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountVerify.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountVerify.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountVerify.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountVerify.sh
      x-meta:
        seo:
          title: '_t__AccountVerify::SEO::TITLE'
          description: '_t__AccountVerify::SEO::DESCRIPTION'
  /api_app:
    post:
      tags:
        - 'Api App'
      summary: '_t__ApiAppCreate::SUMMARY'
      description: '_t__ApiAppCreate::DESCRIPTION'
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppCreate.sh
      x-meta:
        seo:
          title: '_t__ApiAppCreate::SEO::TITLE'
          description: '_t__ApiAppCreate::SEO::DESCRIPTION'
  '/api_app/{client_id}':
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppGet::SUMMARY'
      description: '_t__ApiAppGet::DESCRIPTION'
      operationId: apiAppGet
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppGet::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppGet.sh
      x-meta:
        seo:
          title: '_t__ApiAppGet::SEO::TITLE'
          description: '_t__ApiAppGet::SEO::DESCRIPTION'
    put:
      tags:
        - 'Api App'
      summary: '_t__ApiAppUpdate::SUMMARY'
      description: '_t__ApiAppUpdate::DESCRIPTION'
      operationId: apiAppUpdate
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppUpdate::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppUpdate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppUpdate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppUpdate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppUpdate.sh
      x-meta:
        seo:
          title: '_t__ApiAppUpdate::SEO::TITLE'
          description: '_t__ApiAppUpdate::SEO::DESCRIPTION'
    delete:
      tags:
        - 'Api App'
      summary: '_t__ApiAppDelete::SUMMARY'
      description: '_t__ApiAppDelete::DESCRIPTION'
      operationId: apiAppDelete
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppDelete::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '204':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppDelete.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppDelete.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppDelete.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppDelete.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppDelete.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppDelete.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppDelete.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppDelete.sh
      x-meta:
        seo:
          title: '_t__ApiAppDelete::SEO::TITLE'
          description: '_t__ApiAppDelete::SEO::DESCRIPTION'
  /api_app/list:
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppList::SUMMARY'
      description: '_t__ApiAppList::DESCRIPTION'
      operationId: apiAppList
      parameters:
        -
          name: page
          in: query
          description: '_t__ApiAppList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__ApiAppList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppList.sh
      x-meta:
        seo:
          title: '_t__ApiAppList::SEO::TITLE'
          description: '_t__ApiAppList::SEO::DESCRIPTION'
  '/bulk_send_job/{bulk_send_job_id}':
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobGet::SUMMARY'
      description: '_t__BulkSendJobGet::DESCRIPTION'
      operationId: bulkSendJobGet
      parameters:
        -
          name: bulk_send_job_id
          in: path
          description: '_t__BulkSendJobGet::BULK_SEND_JOB_ID'
          required: true
          schema:
            type: string
          example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobGet.sh
      x-meta:
        seo:
          title: '_t__BulkSendJobGet::SEO::TITLE'
          description: '_t__BulkSendJobGet::SEO::DESCRIPTION'
  /bulk_send_job/list:
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobList::SUMMARY'
      description: '_t__BulkSendJobList::DESCRIPTION'
      operationId: bulkSendJobList
      parameters:
        -
          name: page
          in: query
          description: '_t__BulkSendJobList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__BulkSendJobList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobList.sh
      x-meta:
        seo:
          title: '_t__BulkSendJobList::SEO::TITLE'
          description: '_t__BulkSendJobList::SEO::DESCRIPTION'
  '/embedded/edit_url/{template_id}':
    post:
      tags:
        - Embedded
      summary: '_t__EmbeddedEditUrl::SUMMARY'
      description: '_t__EmbeddedEditUrl::DESCRIPTION'
      operationId: embeddedEditUrl
      parameters:
        -
          name: template_id
          in: path
          description: '_t__EmbeddedEditUrl::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
            examples:
              default_example:
                $ref: '#/components/examples/EmbeddedEditUrlRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedEditUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedEditUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedEditUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedEditUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedEditUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedEditUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedEditUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedEditUrl.sh
      x-meta:
        seo:
          title: '_t__EmbeddedEditUrl::SEO::TITLE'
          description: '_t__EmbeddedEditUrl::SEO::DESCRIPTION'
  '/embedded/sign_url/{signature_id}':
    get:
      tags:
        - Embedded
      summary: '_t__EmbeddedSignUrl::SUMMARY'
      description: '_t__EmbeddedSignUrl::DESCRIPTION'
      operationId: embeddedSignUrl
      parameters:
        -
          name: signature_id
          in: path
          description: '_t__EmbeddedSignUrl::SIGNATURE_ID'
          required: true
          schema:
            type: string
          example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedSignUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedSignUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedSignUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedSignUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedSignUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedSignUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedSignUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedSignUrl.sh
      x-meta:
        seo:
          title: '_t__EmbeddedSignUrl::SEO::TITLE'
          description: '_t__EmbeddedSignUrl::SEO::DESCRIPTION'
  /oauth/token:
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenGenerate::SUMMARY'
      description: '_t__OAuthTokenGenerate::DESCRIPTION'
      operationId: oauthTokenGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenGenerateRequestExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenGenerate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenGenerate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenGenerate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenGenerate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenGenerate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenGenerate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenGenerate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenGenerate.sh
      x-hideTryItPanel: true
      x-meta:
        seo:
          title: '_t__OAuthTokenGenerate::SEO::TITLE'
          description: '_t__OAuthTokenGenerate::SEO::DESCRIPTION'
  '/oauth/token?refresh':
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenRefresh::SUMMARY'
      description: '_t__OAuthTokenRefresh::DESCRIPTION'
      operationId: oauthTokenRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenRefreshRequestExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenRefresh.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenRefresh.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenRefresh.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenRefresh.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenRefresh.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenRefresh.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenRefresh.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenRefresh.sh
      x-hideTryItPanel: true
      x-meta:
        seo:
          title: '_t__OAuthTokenRefresh::SEO::TITLE'
          description: '_t__OAuthTokenRefresh::SEO::DESCRIPTION'
  /report/create:
    post:
      tags:
        - Report
      summary: '_t__ReportCreate::SUMMARY'
      description: '_t__ReportCreate::DESCRIPTION'
      operationId: reportCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ReportCreateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ReportCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ReportCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ReportCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ReportCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ReportCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ReportCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ReportCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ReportCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ReportCreate.sh
      x-meta:
        seo:
          title: '_t__ReportCreate::SEO::TITLE'
          description: '_t__ReportCreate::SEO::DESCRIPTION'
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::TITLE'
          description: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SEO::DESCRIPTION'
  /signature_request/bulk_send_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkSendWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkSendWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestBulkSendWithTemplate::SEO::TITLE'
          description: '_t__SignatureRequestBulkSendWithTemplate::SEO::DESCRIPTION'
  '/signature_request/cancel/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCancel::SUMMARY'
      description: '_t__SignatureRequestCancel::DESCRIPTION'
      operationId: signatureRequestCancel
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestCancel::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {  }
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCancel.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCancel.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCancel.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCancel.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCancel.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCancel.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCancel.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCancel.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestCancel::SEO::TITLE'
          description: '_t__SignatureRequestCancel::SEO::DESCRIPTION'
  /signature_request/create_embedded:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCreateEmbedded::SUMMARY'
      description: '_t__SignatureRequestCreateEmbedded::DESCRIPTION'
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbedded.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCreateEmbedded.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbedded.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbedded.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbedded.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCreateEmbedded.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestCreateEmbedded::SEO::TITLE'
          description: '_t__SignatureRequestCreateEmbedded::SEO::DESCRIPTION'
  /signature_request/create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__SignatureRequestCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestCreateEmbeddedWithTemplate::SEO::TITLE'
          description: '_t__SignatureRequestCreateEmbeddedWithTemplate::SEO::DESCRIPTION'
  '/signature_request/files/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestFiles::SUMMARY'
      description: '_t__SignatureRequestFiles::DESCRIPTION'
      operationId: signatureRequestFiles
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestFiles::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        -
          name: file_type
          in: query
          description: '_t__SignatureRequestFiles::FILE_TYPE'
          schema:
            type: string
            default: pdf
            enum:
              - pdf
              - zip
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFiles.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFiles.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFiles.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFiles.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFiles.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFiles.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFiles.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFiles.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestFiles::SEO::TITLE'
          description: '_t__SignatureRequestFiles::SEO::DESCRIPTION'
  '/signature_request/files_as_data_uri/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestFilesAsDataUri::SUMMARY'
      description: '_t__SignatureRequestFilesAsDataUri::DESCRIPTION'
      operationId: signatureRequestFilesAsDataUri
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestFiles::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestFiles::SEO::TITLE'
          description: '_t__SignatureRequestFiles::SEO::DESCRIPTION'
  '/signature_request/files_as_file_url/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestFilesAsFileUrl::SUMMARY'
      description: '_t__SignatureRequestFilesAsFileUrl::DESCRIPTION'
      operationId: signatureRequestFilesAsFileUrl
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestFiles::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestFiles::SEO::TITLE'
          description: '_t__SignatureRequestFiles::SEO::DESCRIPTION'
  '/signature_request/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestGet::SUMMARY'
      description: '_t__SignatureRequestGet::DESCRIPTION'
      operationId: signatureRequestGet
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestGet::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestGet.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestGet::SEO::TITLE'
          description: '_t__SignatureRequestGet::SEO::DESCRIPTION'
  /signature_request/list:
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestList::SUMMARY'
      description: '_t__SignatureRequestList::DESCRIPTION'
      operationId: signatureRequestList
      parameters:
        -
          name: account_id
          in: query
          description: '_t__SignatureRequestList::ACCOUNT_ID'
          schema:
            type: string
        -
          name: page
          in: query
          description: '_t__SignatureRequestList::PAGE'
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: '_t__SignatureRequestList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
        -
          name: query
          in: query
          description: '_t__SignatureRequestList::QUERY'
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestList.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestList::SEO::TITLE'
          description: '_t__SignatureRequestList::SEO::DESCRIPTION'
  '/signature_request/release_hold/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestReleaseHold::SUMMARY'
      description: '_t__SignatureRequestReleaseHold::DESCRIPTION'
      operationId: signatureRequestReleaseHold
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestReleaseHold::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestReleaseHoldResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestReleaseHold.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestReleaseHold.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestReleaseHold.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestReleaseHold.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestReleaseHold.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestReleaseHold.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestReleaseHold.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestReleaseHold.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestReleaseHold::SEO::TITLE'
          description: '_t__SignatureRequestReleaseHold::SEO::DESCRIPTION'
  '/signature_request/remind/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestRemind::SUMMARY'
      description: '_t__SignatureRequestRemind::DESCRIPTION'
      operationId: signatureRequestRemind
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestRemind::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestRemindRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestRemindRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestRemindResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestRemind.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestRemind.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestRemind.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestRemind.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestRemind.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestRemind.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestRemind.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestRemind.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestRemind::SEO::TITLE'
          description: '_t__SignatureRequestRemind::SEO::DESCRIPTION'
  '/signature_request/remove/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestRemove::SUMMARY'
      description: '_t__SignatureRequestRemove::DESCRIPTION'
      operationId: signatureRequestRemove
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestRemove::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {  }
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestRemove.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestRemove.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestRemove.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestRemove.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestRemove.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestRemove.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestRemove.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestRemove.sh
      x-meta:
        seo:
          title: '_t__SignatureRequestRemove::SEO::TITLE'
          description: '_t__SignatureRequestRemove::SEO::DESCRIPTION'
  /signature_request/send:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestSend::SUMMARY'
      description: '_t__SignatureRequestSend::DESCRIPTION'
      operationId: signatureRequestSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestSendResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
[...]
