openapi: 3.0.3
info:
  title: Dropbox Sign API
  description: Dropbox Sign v3 API
  termsOfService: https://sign.dropbox.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.hellosign.com/v3
security:
  - api_key: []
  - oauth2:
      - account_access
      - signature_request_access
      - template_access
      - team_access
      - api_app_access
      - basic_account_info
      - request_signature
tags:
  - name: Account
    description: Contains information about an account and its settings
  - name: Signature Request
    description: Contains information regarding documents that need to be signed
  - name: Template
    description: Contains information about the templates you and your team have created
  - name: Bulk Send Job
    description: Contains information about bulk sent signature requests
  - name: Report
    description: Provides insights into your team's user activity and document status
  - name: Team
    description: Contains information about your team and its members
  - name: Unclaimed Draft
    description: A group of documents that a user can take ownership of via the claim URL
  - name: Embedded
    description: An object that contains necessary information to set up embedded signing
  - name: Api App
    description: Contains information about an API App
  - name: OAuth
    description: |-
      OAuth allows you to perform actions on behalf of other users after they grant you the authorization to do so. For example, you could send signature requests on behalf of your users.

      We recommend using our [OAuth Walkthrough](https://app.hellosign.com/api/oauthWalkthrough) for more detailed instructions.

      OAuth apps can either be set up to charge you, the **app owner**, or the **user you are acting on behalf of**. This choice is determined by which scopes you select for your app.

      ### OAuth scopes where app owner is charged
      | Name | Value | Description |
      |--|--|--|
      | Basic Account Info (limited) | `basic_account_info` | Access basic account information, such as email address and name. |
      | Send Signature Requests (limited) | `request_signature` | Send signature requests, access statuses and document files. |

      ### OAuth scopes where users are charged
      | Name | Value | Description |
      |--|--|--|
      | Account Access | `account_access` | Access to basic account information, such as email address and name. |
      | Signature Request Access | `signature_request_access` | Access to send, view, and update signature requests and to download document files. Signature requests must be made with oAuth token in order to access.  |
      | Template Access | `template_access` | Access to view, create, and modify templates. |
      | Team Access | `team_access` | Access to view and modify team settings and team members. |
      | API App Access | `api_app_access` | Access to view, create, and modify embedded API apps. |
  - name: Callbacks and Events
    description: |-
      Events will be POSTed to your callback URLs. There are two kinds of callbacks that can be defined.
            
      **Callback Response Format**

      The default format for messages sent to your callbacks is a multipart ('form/multipart') POST request, with the message details in a POST field named 'json'.

      The Java SDK includes an event parsing class, and you can access this field in the $_POST array on PHP. For other platforms, either a library function, such as cgi.parse_multipart (for python) or ActionDispatch::Http::UploadedFile for Rails, or third party options, such as multer for node, may be useful.
  - name: Fax Line
    description: Contains information about the fax lines you and your team have created
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: Create Account
      description: Creates a new Dropbox Sign Account that is associated with the specified `email_address`.
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountCreateRequest'
              oauth_example:
                $ref: '#/components/examples/AccountCreateRequestOAuth'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountCreateResponse'
                oauth_example:
                  $ref: '#/components/examples/AccountCreateOAuthResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - account_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            $account_create_request = (new Dropbox\Sign\Model\AccountCreateRequest())
                ->setEmailAddress("newuser@dropboxsign.com");

            try {
                $response = (new Dropbox\Sign\Api\AccountApi(config: $config))->accountCreate(
                    account_create_request: $account_create_request,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling AccountApi#accountCreate: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class AccountCreateExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    var accountCreateRequest = new AccountCreateRequest(
                        emailAddress: "newuser@dropboxsign.com"
                    );

                    try
                    {
                        var response = new AccountApi(config).AccountCreate(
                            accountCreateRequest: accountCreateRequest
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling AccountApi#AccountCreate: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.AccountApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            const accountCreateRequest: models.AccountCreateRequest = {
              emailAddress: "newuser@dropboxsign.com",
            };

            apiCaller.accountCreate(
              accountCreateRequest,
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling AccountApi#accountCreate:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class AccountCreateExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    var accountCreateRequest = new AccountCreateRequest();
                    accountCreateRequest.emailAddress("newuser@dropboxsign.com");

                    try
                    {
                        var response = new AccountApi(config).accountCreate(
                            accountCreateRequest
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling AccountApi#accountCreate");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            account_create_request = Dropbox::Sign::AccountCreateRequest.new
            account_create_request.email_address = "newuser@dropboxsign.com"

            begin
                response = Dropbox::Sign::AccountApi.new.account_create(
                    account_create_request,
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling AccountApi#account_create: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                account_create_request = models.AccountCreateRequest(
                    email_address="newuser@dropboxsign.com",
                )

                try:
                    response = api.AccountApi(api_client).account_create(
                        account_create_request=account_create_request,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling AccountApi#account_create: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X POST 'https://api.hellosign.com/v3/account/create' \
              -u 'YOUR_API_KEY:' \
              -F 'email_address=newuser@dropboxsign.com'
      x-meta:
        seo:
          title: Create Account | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a range of tools. Find out how to create a new Dropbox Sign Account using the specified `email_address` here.
  /account:
    get:
      tags:
        - Account
      summary: Get Account
      description: Returns the properties and settings of your Account.
      operationId: accountGet
      parameters:
        - name: account_id
          in: query
          description: |-
            `account_id` or `email_address` is required. If both are provided, the account id prevails.

            The ID of the Account.
          required: false
          schema:
            type: string
        - name: email_address
          in: query
          description: |-
            `account_id` or `email_address` is required, If both are provided, the account id prevails.

            The email address of the Account.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - account_access
            - basic_account_info
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            try {
                $response = (new Dropbox\Sign\Api\AccountApi(config: $config))->accountGet();

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling AccountApi#accountGet: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class AccountGetExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    try
                    {
                        var response = new AccountApi(config).AccountGet();

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling AccountApi#AccountGet: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.AccountApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            apiCaller.accountGet().then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling AccountApi#accountGet:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class AccountGetExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    try
                    {
                        var response = new AccountApi(config).accountGet(
                            null, // accountId
                            null // emailAddress
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling AccountApi#accountGet");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            begin
                response = Dropbox::Sign::AccountApi.new.account_get

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling AccountApi#account_get: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                try:
                    response = api.AccountApi(api_client).account_get()

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling AccountApi#account_get: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X GET 'https://api.hellosign.com/v3/account?email_address=jack@example.com' \
              -u 'YOUR_API_KEY:'
      x-meta:
        seo:
          title: Get Account | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return the properties and settings of your Account, click here.'
    put:
      tags:
        - Account
      summary: Update Account
      description: Updates the properties and settings of your Account. Currently only allows for updates to the [Callback URL](/api/reference/tag/Callbacks-and-Events) and locale.
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountUpdateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountUpdateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - account_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            $account_update_request = (new Dropbox\Sign\Model\AccountUpdateRequest())
                ->setCallbackUrl("https://www.example.com/callback")
                ->setLocale("en-US");

            try {
                $response = (new Dropbox\Sign\Api\AccountApi(config: $config))->accountUpdate(
                    account_update_request: $account_update_request,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling AccountApi#accountUpdate: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class AccountUpdateExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    var accountUpdateRequest = new AccountUpdateRequest(
                        callbackUrl: "https://www.example.com/callback",
                        locale: "en-US"
                    );

                    try
                    {
                        var response = new AccountApi(config).AccountUpdate(
                            accountUpdateRequest: accountUpdateRequest
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling AccountApi#AccountUpdate: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.AccountApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            const accountUpdateRequest: models.AccountUpdateRequest = {
              callbackUrl: "https://www.example.com/callback",
              locale: "en-US",
            };

            apiCaller.accountUpdate(
              accountUpdateRequest,
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling AccountApi#accountUpdate:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class AccountUpdateExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    var accountUpdateRequest = new AccountUpdateRequest();
                    accountUpdateRequest.callbackUrl("https://www.example.com/callback");
                    accountUpdateRequest.locale("en-US");

                    try
                    {
                        var response = new AccountApi(config).accountUpdate(
                            accountUpdateRequest
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling AccountApi#accountUpdate");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            account_update_request = Dropbox::Sign::AccountUpdateRequest.new
            account_update_request.callback_url = "https://www.example.com/callback"
            account_update_request.locale = "en-US"

            begin
                response = Dropbox::Sign::AccountApi.new.account_update(
                    account_update_request,
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling AccountApi#account_update: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                account_update_request = models.AccountUpdateRequest(
                    callback_url="https://www.example.com/callback",
                    locale="en-US",
                )

                try:
                    response = api.AccountApi(api_client).account_update(
                        account_update_request=account_update_request,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling AccountApi#account_update: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X PUT 'https://api.hellosign.com/v3/account' \
              -u 'YOUR_API_KEY:' \
              -F 'callback_url=https://www.example.com/callback' \
              -F 'locale=en-US'
      x-meta:
        seo:
          title: Update Account | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how update the properties and settings of your Account, click here.'
  /account/verify:
    post:
      tags:
        - Account
      summary: Verify Account
      description: Verifies whether an Dropbox Sign Account exists for the given email address.
      operationId: accountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
            examples:
              example:
                $ref: '#/components/examples/AccountVerifyRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
              examples:
                example:
                  $ref: '#/components/examples/AccountVerifyFoundResponse'
                not_found_example:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - account_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            $account_verify_request = (new Dropbox\Sign\Model\AccountVerifyRequest())
                ->setEmailAddress("some_user@dropboxsign.com");

            try {
                $response = (new Dropbox\Sign\Api\AccountApi(config: $config))->accountVerify(
                    account_verify_request: $account_verify_request,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling AccountApi#accountVerify: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class AccountVerifyExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    var accountVerifyRequest = new AccountVerifyRequest(
                        emailAddress: "some_user@dropboxsign.com"
                    );

                    try
                    {
                        var response = new AccountApi(config).AccountVerify(
                            accountVerifyRequest: accountVerifyRequest
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling AccountApi#AccountVerify: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.AccountApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            const accountVerifyRequest: models.AccountVerifyRequest = {
              emailAddress: "some_user@dropboxsign.com",
            };

            apiCaller.accountVerify(
              accountVerifyRequest,
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling AccountApi#accountVerify:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class AccountVerifyExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    var accountVerifyRequest = new AccountVerifyRequest();
                    accountVerifyRequest.emailAddress("some_user@dropboxsign.com");

                    try
                    {
                        var response = new AccountApi(config).accountVerify(
                            accountVerifyRequest
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling AccountApi#accountVerify");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            account_verify_request = Dropbox::Sign::AccountVerifyRequest.new
            account_verify_request.email_address = "some_user@dropboxsign.com"

            begin
                response = Dropbox::Sign::AccountApi.new.account_verify(
                    account_verify_request,
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling AccountApi#account_verify: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                account_verify_request = models.AccountVerifyRequest(
                    email_address="some_user@dropboxsign.com",
                )

                try:
                    response = api.AccountApi(api_client).account_verify(
                        account_verify_request=account_verify_request,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling AccountApi#account_verify: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X POST 'https://api.hellosign.com/v3/account/verify' \
              -u 'YOUR_API_KEY:' \
              -F 'email_address=some_user@dropboxsign.com'
      x-meta:
        seo:
          title: Verify Account | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to verify whether an Account exists, click here.'
  /api_app:
    post:
      tags:
        - Api App
      summary: Create API App
      description: Creates a new API App.
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/ApiAppCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
      responses:
        '201':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppCreateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - api_app_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            $oauth = (new Dropbox\Sign\Model\SubOAuth())
                ->setCallbackUrl("https://example.com/oauth")
                ->setScopes([
                    Dropbox\Sign\Model\SubOAuth::SCOPES_BASIC_ACCOUNT_INFO,
                    Dropbox\Sign\Model\SubOAuth::SCOPES_REQUEST_SIGNATURE,
                ]);

            $white_labeling_options = (new Dropbox\Sign\Model\SubWhiteLabelingOptions())
                ->setPrimaryButtonColor("#00b3e6")
                ->setPrimaryButtonTextColor("#ffffff");

            $api_app_create_request = (new Dropbox\Sign\Model\ApiAppCreateRequest())
                ->setName("My Production App")
                ->setDomains([
                    "example.com",
                ])
                ->setCustomLogoFile(new SplFileObject("CustomLogoFile.png"))
                ->setOauth($oauth)
                ->setWhiteLabelingOptions($white_labeling_options);

            try {
                $response = (new Dropbox\Sign\Api\ApiAppApi(config: $config))->apiAppCreate(
                    api_app_create_request: $api_app_create_request,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling ApiAppApi#apiAppCreate: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class ApiAppCreateExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    var oauth = new SubOAuth(
                        callbackUrl: "https://example.com/oauth",
                        scopes: [
                            SubOAuth.ScopesEnum.BasicAccountInfo,
                            SubOAuth.ScopesEnum.RequestSignature,
                        ]
                    );

                    var whiteLabelingOptions = new SubWhiteLabelingOptions(
                        primaryButtonColor: "#00b3e6",
                        primaryButtonTextColor: "#ffffff"
                    );

                    var apiAppCreateRequest = new ApiAppCreateRequest(
                        name: "My Production App",
                        domains: [
                            "example.com",
                        ],
                        customLogoFile: new FileStream(
                            path: "CustomLogoFile.png",
                            mode: FileMode.Open
                        ),
                        oauth: oauth,
                        whiteLabelingOptions: whiteLabelingOptions
                    );

                    try
                    {
                        var response = new ApiAppApi(config).ApiAppCreate(
                            apiAppCreateRequest: apiAppCreateRequest
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling ApiAppApi#ApiAppCreate: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.ApiAppApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            const oauth: models.SubOAuth = {
              callbackUrl: "https://example.com/oauth",
              scopes: [
                models.SubOAuth.ScopesEnum.BasicAccountInfo,
                models.SubOAuth.ScopesEnum.RequestSignature,
              ],
            };

            const whiteLabelingOptions: models.SubWhiteLabelingOptions = {
              primaryButtonColor: "#00b3e6",
              primaryButtonTextColor: "#ffffff",
            };

            const apiAppCreateRequest: models.ApiAppCreateRequest = {
              name: "My Production App",
              domains: [
                "example.com",
              ],
              customLogoFile: fs.createReadStream("CustomLogoFile.png"),
              oauth: oauth,
              whiteLabelingOptions: whiteLabelingOptions,
            };

            apiCaller.apiAppCreate(
              apiAppCreateRequest,
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling ApiAppApi#apiAppCreate:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class ApiAppCreateExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    var oauth = new SubOAuth();
                    oauth.callbackUrl("https://example.com/oauth");
                    oauth.scopes(List.of (
                        SubOAuth.ScopesEnum.BASIC_ACCOUNT_INFO,
                        SubOAuth.ScopesEnum.REQUEST_SIGNATURE
                    ));

                    var whiteLabelingOptions = new SubWhiteLabelingOptions();
                    whiteLabelingOptions.primaryButtonColor("#00b3e6");
                    whiteLabelingOptions.primaryButtonTextColor("#ffffff");

                    var apiAppCreateRequest = new ApiAppCreateRequest();
                    apiAppCreateRequest.name("My Production App");
                    apiAppCreateRequest.domains(List.of (
                        "example.com"
                    ));
                    apiAppCreateRequest.customLogoFile(new File("CustomLogoFile.png"));
                    apiAppCreateRequest.oauth(oauth);
                    apiAppCreateRequest.whiteLabelingOptions(whiteLabelingOptions);

                    try
                    {
                        var response = new ApiAppApi(config).apiAppCreate(
                            apiAppCreateRequest
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling ApiAppApi#apiAppCreate");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            oauth = Dropbox::Sign::SubOAuth.new
            oauth.callback_url = "https://example.com/oauth"
            oauth.scopes = [
                "basic_account_info",
                "request_signature",
            ]

            white_labeling_options = Dropbox::Sign::SubWhiteLabelingOptions.new
            white_labeling_options.primary_button_color = "#00b3e6"
            white_labeling_options.primary_button_text_color = "#ffffff"

            api_app_create_request = Dropbox::Sign::ApiAppCreateRequest.new
            api_app_create_request.name = "My Production App"
            api_app_create_request.domains = [
                "example.com",
            ]
            api_app_create_request.custom_logo_file = File.new("CustomLogoFile.png", "r")
            api_app_create_request.oauth = oauth
            api_app_create_request.white_labeling_options = white_labeling_options

            begin
                response = Dropbox::Sign::ApiAppApi.new.api_app_create(
                    api_app_create_request,
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling ApiAppApi#api_app_create: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                oauth = models.SubOAuth(
                    callback_url="https://example.com/oauth",
                    scopes=[
                        "basic_account_info",
                        "request_signature",
                    ],
                )

                white_labeling_options = models.SubWhiteLabelingOptions(
                    primary_button_color="#00b3e6",
                    primary_button_text_color="#ffffff",
                )

                api_app_create_request = models.ApiAppCreateRequest(
                    name="My Production App",
                    domains=[
                        "example.com",
                    ],
                    custom_logo_file=open("CustomLogoFile.png", "rb").read(),
                    oauth=oauth,
                    white_labeling_options=white_labeling_options,
                )

                try:
                    response = api.ApiAppApi(api_client).api_app_create(
                        api_app_create_request=api_app_create_request,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling ApiAppApi#api_app_create: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X POST 'https://api.hellosign.com/v3/api_app' \
              -u 'YOUR_API_KEY:' \
              -F 'name=My Production App' \
              -F 'domains[]=example.com' \
              -F 'oauth[callback_url]=https://example.com/oauth' \
              -F 'oauth[scopes][]=basic_account_info' \
              -F 'oauth[scopes][]=request_signature' \
              -F 'white_labeling_options[primary_button_color]=#00b3e6' \
              -F 'white_labeling_options[primary_button_text_color]=#ffffff'
      x-meta:
        seo:
          title: Create API App | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to create a new API App, click here.'
  /api_app/{client_id}:
    get:
      tags:
        - Api App
      summary: Get API App
      description: Returns an object with information about an API App.
      operationId: apiAppGet
      parameters:
        - name: client_id
          in: path
          description: The client id of the API App to retrieve.
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - api_app_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            try {
                $response = (new Dropbox\Sign\Api\ApiAppApi(config: $config))->apiAppGet(
                    client_id: "0dd3b823a682527788c4e40cb7b6f7e9",
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling ApiAppApi#apiAppGet: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class ApiAppGetExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    try
                    {
                        var response = new ApiAppApi(config).ApiAppGet(
                            clientId: "0dd3b823a682527788c4e40cb7b6f7e9"
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling ApiAppApi#ApiAppGet: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.ApiAppApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            apiCaller.apiAppGet(
              "0dd3b823a682527788c4e40cb7b6f7e9", // clientId
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling ApiAppApi#apiAppGet:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class ApiAppGetExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    try
                    {
                        var response = new ApiAppApi(config).apiAppGet(
                            "0dd3b823a682527788c4e40cb7b6f7e9" // clientId
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling ApiAppApi#apiAppGet");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            begin
                response = Dropbox::Sign::ApiAppApi.new.api_app_get(
                    "0dd3b823a682527788c4e40cb7b6f7e9", # client_id
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling ApiAppApi#api_app_get: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                try:
                    response = api.ApiAppApi(api_client).api_app_get(
                        client_id="0dd3b823a682527788c4e40cb7b6f7e9",
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling ApiAppApi#api_app_get: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X GET 'https://api.hellosign.com/v3/api_app/{client_id}' \
              -u 'YOUR_API_KEY:'
      x-meta:
        seo:
          title: Get API App | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return an object with information about an API App, click here.'
    put:
      tags:
        - Api App
      summary: Update API App
      description: 'Updates an existing API App. Can only be invoked for apps you own. Only the fields you provide will be updated. If you wish to clear an existing optional field, provide an empty string.'
      operationId: apiAppUpdate
      parameters:
        - name: client_id
          in: path
          description: The client id of the API App to update.
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              example:
                $ref: '#/components/examples/ApiAppUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppUpdateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - api_app_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            $oauth = (new Dropbox\Sign\Model\SubOAuth())
                ->setCallbackUrl("https://example.com/oauth")
                ->setScopes([
                    Dropbox\Sign\Model\SubOAuth::SCOPES_BASIC_ACCOUNT_INFO,
                    Dropbox\Sign\Model\SubOAuth::SCOPES_REQUEST_SIGNATURE,
                ]);

            $white_labeling_options = (new Dropbox\Sign\Model\SubWhiteLabelingOptions())
                ->setPrimaryButtonColor("#00b3e6")
                ->setPrimaryButtonTextColor("#ffffff");

            $api_app_update_request = (new Dropbox\Sign\Model\ApiAppUpdateRequest())
                ->setCallbackUrl("https://example.com/dropboxsign")
                ->setName("New Name")
                ->setDomains([
                    "example.com",
                ])
                ->setCustomLogoFile(new SplFileObject("CustomLogoFile.png"))
                ->setOauth($oauth)
                ->setWhiteLabelingOptions($white_labeling_options);

            try {
                $response = (new Dropbox\Sign\Api\ApiAppApi(config: $config))->apiAppUpdate(
                    client_id: "0dd3b823a682527788c4e40cb7b6f7e9",
                    api_app_update_request: $api_app_update_request,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling ApiAppApi#apiAppUpdate: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class ApiAppUpdateExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    var oauth = new SubOAuth(
                        callbackUrl: "https://example.com/oauth",
                        scopes: [
                            SubOAuth.ScopesEnum.BasicAccountInfo,
                            SubOAuth.ScopesEnum.RequestSignature,
                        ]
                    );

                    var whiteLabelingOptions = new SubWhiteLabelingOptions(
                        primaryButtonColor: "#00b3e6",
                        primaryButtonTextColor: "#ffffff"
                    );

                    var apiAppUpdateRequest = new ApiAppUpdateRequest(
                        callbackUrl: "https://example.com/dropboxsign",
                        name: "New Name",
                        domains: [
                            "example.com",
                        ],
                        customLogoFile: new FileStream(
                            path: "CustomLogoFile.png",
                            mode: FileMode.Open
                        ),
                        oauth: oauth,
                        whiteLabelingOptions: whiteLabelingOptions
                    );

                    try
                    {
                        var response = new ApiAppApi(config).ApiAppUpdate(
                            clientId: "0dd3b823a682527788c4e40cb7b6f7e9",
                            apiAppUpdateRequest: apiAppUpdateRequest
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling ApiAppApi#ApiAppUpdate: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.ApiAppApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            const oauth: models.SubOAuth = {
              callbackUrl: "https://example.com/oauth",
              scopes: [
                models.SubOAuth.ScopesEnum.BasicAccountInfo,
                models.SubOAuth.ScopesEnum.RequestSignature,
              ],
            };

            const whiteLabelingOptions: models.SubWhiteLabelingOptions = {
              primaryButtonColor: "#00b3e6",
              primaryButtonTextColor: "#ffffff",
            };

            const apiAppUpdateRequest: models.ApiAppUpdateRequest = {
              callbackUrl: "https://example.com/dropboxsign",
              name: "New Name",
              domains: [
                "example.com",
              ],
              customLogoFile: fs.createReadStream("CustomLogoFile.png"),
              oauth: oauth,
              whiteLabelingOptions: whiteLabelingOptions,
            };

            apiCaller.apiAppUpdate(
              "0dd3b823a682527788c4e40cb7b6f7e9", // clientId
              apiAppUpdateRequest,
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling ApiAppApi#apiAppUpdate:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class ApiAppUpdateExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    var oauth = new SubOAuth();
                    oauth.callbackUrl("https://example.com/oauth");
                    oauth.scopes(List.of (
                        SubOAuth.ScopesEnum.BASIC_ACCOUNT_INFO,
                        SubOAuth.ScopesEnum.REQUEST_SIGNATURE
                    ));

                    var whiteLabelingOptions = new SubWhiteLabelingOptions();
                    whiteLabelingOptions.primaryButtonColor("#00b3e6");
                    whiteLabelingOptions.primaryButtonTextColor("#ffffff");

                    var apiAppUpdateRequest = new ApiAppUpdateRequest();
                    apiAppUpdateRequest.callbackUrl("https://example.com/dropboxsign");
                    apiAppUpdateRequest.name("New Name");
                    apiAppUpdateRequest.domains(List.of (
                        "example.com"
                    ));
                    apiAppUpdateRequest.customLogoFile(new File("CustomLogoFile.png"));
                    apiAppUpdateRequest.oauth(oauth);
                    apiAppUpdateRequest.whiteLabelingOptions(whiteLabelingOptions);

                    try
                    {
                        var response = new ApiAppApi(config).apiAppUpdate(
                            "0dd3b823a682527788c4e40cb7b6f7e9", // clientId
                            apiAppUpdateRequest
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling ApiAppApi#apiAppUpdate");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            oauth = Dropbox::Sign::SubOAuth.new
            oauth.callback_url = "https://example.com/oauth"
            oauth.scopes = [
                "basic_account_info",
                "request_signature",
            ]

            white_labeling_options = Dropbox::Sign::SubWhiteLabelingOptions.new
            white_labeling_options.primary_button_color = "#00b3e6"
            white_labeling_options.primary_button_text_color = "#ffffff"

            api_app_update_request = Dropbox::Sign::ApiAppUpdateRequest.new
            api_app_update_request.callback_url = "https://example.com/dropboxsign"
            api_app_update_request.name = "New Name"
            api_app_update_request.domains = [
                "example.com",
            ]
            api_app_update_request.custom_logo_file = File.new("CustomLogoFile.png", "r")
            api_app_update_request.oauth = oauth
            api_app_update_request.white_labeling_options = white_labeling_options

            begin
                response = Dropbox::Sign::ApiAppApi.new.api_app_update(
                    "0dd3b823a682527788c4e40cb7b6f7e9", # client_id
                    api_app_update_request,
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling ApiAppApi#api_app_update: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                oauth = models.SubOAuth(
                    callback_url="https://example.com/oauth",
                    scopes=[
                        "basic_account_info",
                        "request_signature",
                    ],
                )

                white_labeling_options = models.SubWhiteLabelingOptions(
                    primary_button_color="#00b3e6",
                    primary_button_text_color="#ffffff",
                )

                api_app_update_request = models.ApiAppUpdateRequest(
                    callback_url="https://example.com/dropboxsign",
                    name="New Name",
                    domains=[
                        "example.com",
                    ],
                    custom_logo_file=open("CustomLogoFile.png", "rb").read(),
                    oauth=oauth,
                    white_labeling_options=white_labeling_options,
                )

                try:
                    response = api.ApiAppApi(api_client).api_app_update(
                        client_id="0dd3b823a682527788c4e40cb7b6f7e9",
                        api_app_update_request=api_app_update_request,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling ApiAppApi#api_app_update: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X PUT 'https://api.hellosign.com/v3/api_app/{client_id}' \
              -u 'YOUR_API_KEY:' \
              -F 'name=New Name' \
              -F 'callback_url=https://example.com/dropboxsign' \
              -F 'white_labeling_options[primary_button_color]=#00b3e6' \
              -F 'white_labeling_options[primary_button_text_color]=#ffffff'
      x-meta:
        seo:
          title: Update API App | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to update an App that you own, click here.'
    delete:
      tags:
        - Api App
      summary: Delete API App
      description: Deletes an API App. Can only be invoked for apps you own.
      operationId: apiAppDelete
      parameters:
        - name: client_id
          in: path
          description: The client id of the API App to delete.
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '204':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - api_app_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            try {
                (new Dropbox\Sign\Api\ApiAppApi(config: $config))->apiAppDelete(
                    client_id: "0dd3b823a682527788c4e40cb7b6f7e9",
                );
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling ApiAppApi#apiAppDelete: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class ApiAppDeleteExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    try
                    {
                        new ApiAppApi(config).ApiAppDelete(
                            clientId: "0dd3b823a682527788c4e40cb7b6f7e9"
                        );
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling ApiAppApi#ApiAppDelete: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.ApiAppApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            apiCaller.apiAppDelete(
              "0dd3b823a682527788c4e40cb7b6f7e9", // clientId
            ).catch(error => {
              console.log("Exception when calling ApiAppApi#apiAppDelete:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class ApiAppDeleteExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    try
                    {
                        new ApiAppApi(config).apiAppDelete(
                            "0dd3b823a682527788c4e40cb7b6f7e9" // clientId
                        );
                    } catch (ApiException e) {
                        System.err.println("Exception when calling ApiAppApi#apiAppDelete");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            begin
                Dropbox::Sign::ApiAppApi.new.api_app_delete(
                    "0dd3b823a682527788c4e40cb7b6f7e9", # client_id
                )
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling ApiAppApi#api_app_delete: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                try:
                    api.ApiAppApi(api_client).api_app_delete(
                        client_id="0dd3b823a682527788c4e40cb7b6f7e9",
                    )
                except ApiException as e:
                    print("Exception when calling ApiAppApi#api_app_delete: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X DELETE 'https://api.hellosign.com/v3/api_app/{client_id}' \
              -u 'YOUR_API_KEY:'
      x-meta:
        seo:
          title: Delete API App | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to delete an API App, click here.'
  /api_app/list:
    get:
      tags:
        - Api App
      summary: List API Apps
      description: 'Returns a list of API Apps that are accessible by you. If you are on a team with an Admin or Developer role, this list will include apps owned by teammates.'
      operationId: apiAppList
      parameters:
        - name: page
          in: query
          description: Which page number of the API App List to return. Defaults to `1`.
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Number of objects to be returned per page. Must be between `1` and `100`. Default is `20`.
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                example:
                  $ref: '#/components/examples/ApiAppListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
        - api_key: []
        - oauth2:
            - api_app_access
      x-codeSamples:
        - lang: PHP
          label: PHP
          source: |
            <?php

            namespace Dropbox\SignSandbox;

            require_once __DIR__ . '/../vendor/autoload.php';

            use SplFileObject;
            use Dropbox;

            $config = Dropbox\Sign\Configuration::getDefaultConfiguration();
            $config->setUsername("YOUR_API_KEY");
            // $config->setAccessToken("YOUR_ACCESS_TOKEN");

            try {
                $response = (new Dropbox\Sign\Api\ApiAppApi(config: $config))->apiAppList(
                    page: 1,
                    page_size: 20,
                );

                print_r($response);
            } catch (Dropbox\Sign\ApiException $e) {
                echo "Exception when calling ApiAppApi#apiAppList: {$e->getMessage()}";
            }
        - lang: csharp
          label: C#
          source: |
            using System;
            using System.Collections.Generic;
            using System.IO;
            using System.Text.Json;

            using Dropbox.Sign.Api;
            using Dropbox.Sign.Client;
            using Dropbox.Sign.Model;

            namespace Dropbox.SignSandbox;

            public class ApiAppListExample
            {
                public static void Run()
                {
                    var config = new Configuration();
                    config.Username = "YOUR_API_KEY";
                    // config.AccessToken = "YOUR_ACCESS_TOKEN";

                    try
                    {
                        var response = new ApiAppApi(config).ApiAppList(
                            page: 1,
                            pageSize: 20
                        );

                        Console.WriteLine(response);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine("Exception when calling ApiAppApi#ApiAppList: " + e.Message);
                        Console.WriteLine("Status Code: " + e.ErrorCode);
                        Console.WriteLine(e.StackTrace);
                    }
                }
            }
        - lang: TypeScript
          label: TypeScript
          source: |
            import * as fs from 'fs';
            import api from "@dropbox/sign"
            import models from "@dropbox/sign"

            const apiCaller = new api.ApiAppApi();
            apiCaller.username = "YOUR_API_KEY";
            // apiCaller.accessToken = "YOUR_ACCESS_TOKEN";

            apiCaller.apiAppList(
              1, // page
              20, // pageSize
            ).then(response => {
              console.log(response.body);
            }).catch(error => {
              console.log("Exception when calling ApiAppApi#apiAppList:");
              console.log(error.body);
            });
        - lang: Java
          label: Java
          source: |
            package com.dropbox.sign_sandbox;

            import com.dropbox.sign.ApiException;
            import com.dropbox.sign.Configuration;
            import com.dropbox.sign.api.*;
            import com.dropbox.sign.auth.*;
            import com.dropbox.sign.JSON;
            import com.dropbox.sign.model.*;

            import java.io.File;
            import java.math.BigDecimal;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.ArrayList;
            import java.util.List;
            import java.util.Map;

            public class ApiAppListExample
            {
                public static void main(String[] args)
                {
                    var config = Configuration.getDefaultApiClient();
                    ((HttpBasicAuth) config.getAuthentication("api_key")).setUsername("YOUR_API_KEY");
                    // ((HttpBearerAuth) config.getAuthentication("oauth2")).setBearerToken("YOUR_ACCESS_TOKEN");

                    try
                    {
                        var response = new ApiAppApi(config).apiAppList(
                            1, // page
                            20 // pageSize
                        );

                        System.out.println(response);
                    } catch (ApiException e) {
                        System.err.println("Exception when calling ApiAppApi#apiAppList");
                        System.err.println("Status code: " + e.getCode());
                        System.err.println("Reason: " + e.getResponseBody());
                        System.err.println("Response headers: " + e.getResponseHeaders());
                        e.printStackTrace();
                    }
                }
            }
        - lang: Ruby
          label: Ruby
          source: |
            require "json"
            require "dropbox-sign"

            Dropbox::Sign.configure do |config|
                config.username = "YOUR_API_KEY"
                # config.access_token = "YOUR_ACCESS_TOKEN"
            end

            begin
                response = Dropbox::Sign::ApiAppApi.new.api_app_list(
                    {
                        page: 1,
                        page_size: 20,
                    },
                )

                p response
            rescue Dropbox::Sign::ApiError => e
                puts "Exception when calling ApiAppApi#api_app_list: #{e}"
            end
        - lang: Python
          label: Python
          source: |
            import json
            from datetime import date, datetime
            from pprint import pprint

            from dropbox_sign import ApiClient, ApiException, Configuration, api, models

            configuration = Configuration(
                username="YOUR_API_KEY",
                # access_token="YOUR_ACCESS_TOKEN",
            )

            with ApiClient(configuration) as api_client:
                try:
                    response = api.ApiAppApi(api_client).api_app_list(
                        page=1,
                        page_size=20,
                    )

                    pprint(response)
                except ApiException as e:
                    print("Exception when calling ApiAppApi#api_app_list: %s\n" % e)
        - lang: cURL
          label: cURL
          source: |
            curl -X GET 'https://api.hellosign.com/v3/api_app/list?page=1&page_size=20' \
              -u 'YOUR_API_KEY:'
      x-meta:
        seo:
          title: List API Apps | API Documentation | Dropbox Sign for Developers
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return a list of API Apps that are accessible by you, click here.'
  /bulk_send_job/{bulk_send_job_id}:
    get:
      tags:
        - Bulk Send Job
      summary: Get Bulk Send Job
      description: Returns the status of the BulkSendJob and its SignatureRequests specified by the `bulk_send_job_id` parameter.
      operationId: bulkSendJobGet
      parameters:
        - name: bulk_send_job_id
          in: path
          description: The id of the BulkSendJob to retrieve.
          required: true
          schema:
            type: string
          example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
        - name: page
          in: query
          description: Which page number of the BulkSendJob list to return. Defaults to `1`.
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Number of objects to be returned per page. Must be between `1` and `100`. Default is 20.
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/BulkSendJobGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
[...]
