openapi: 3.0.3
info:
  title: '_t__OpenApi::TITLE'
  description: '_t__OpenApi::DESCRIPTION'
  termsOfService: 'https://www.hellosign.com/terms'
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: 3.0.0
servers:
  -
    url: 'https://api.hellosign.com/v3'
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: '_t__AccountCreate::SUMMARY'
      description: '_t__AccountCreate::DESCRIPTION'
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountCreateRequestDefaultExample'
              oauth:
                $ref: '#/components/examples/AccountCreateRequestOAuthExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountCreateResponseExample'
                oauth:
                  $ref: '#/components/examples/AccountCreateOAuthResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountCreate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountCreate.py
  /account:
    get:
      tags:
        - Account
      summary: '_t__AccountGet::SUMMARY'
      description: '_t__AccountGet::DESCRIPTION'
      operationId: accountGet
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
            - basic_account_info
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountGet.py
    put:
      tags:
        - Account
      summary: '_t__AccountUpdate::SUMMARY'
      description: '_t__AccountUpdate::DESCRIPTION'
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountUpdateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountUpdateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountUpdate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountUpdate.py
  /account/verify:
    post:
      tags:
        - Account
      summary: '_t__AccountVerify::SUMMARY'
      description: '_t__AccountVerify::DESCRIPTION'
      operationId: accountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountVerifyRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountVerifyFoundResponseExample'
                not_found:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountVerify.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountVerify.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountVerify.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountVerify.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountVerify.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountVerify.py
  /api_app:
    post:
      tags:
        - 'Api App'
      summary: '_t__ApiAppCreate::SUMMARY'
      description: '_t__ApiAppCreate::DESCRIPTION'
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppCreateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppCreate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppCreate.py
  '/api_app/{client_id}':
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppGet::SUMMARY'
      description: '_t__ApiAppGet::DESCRIPTION'
      operationId: apiAppGet
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppGet::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppGet.py
    put:
      tags:
        - 'Api App'
      summary: '_t__ApiAppUpdate::SUMMARY'
      description: '_t__ApiAppUpdate::DESCRIPTION'
      operationId: apiAppUpdate
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppUpdate::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppUpdateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppUpdate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppUpdate.py
    delete:
      tags:
        - 'Api App'
      summary: '_t__ApiAppDelete::SUMMARY'
      description: '_t__ApiAppDelete::DESCRIPTION'
      operationId: apiAppDelete
      parameters:
        -
          name: client_id
          in: path
          description: '_t__ApiAppDelete::CLIENT_ID'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        '204':
          description: 'successful operation'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppDelete.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppDelete.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppDelete.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppDelete.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppDelete.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppDelete.py
  /api_app/list:
    get:
      tags:
        - 'Api App'
      summary: '_t__ApiAppList::SUMMARY'
      description: '_t__ApiAppList::DESCRIPTION'
      operationId: apiAppList
      parameters:
        -
          name: page
          in: query
          description: '_t__ApiAppList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__ApiAppList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppListResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppList.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppList.py
  '/bulk_send_job/{bulk_send_job_id}':
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobGet::SUMMARY'
      description: '_t__BulkSendJobGet::DESCRIPTION'
      operationId: bulkSendJobGet
      parameters:
        -
          name: bulk_send_job_id
          in: path
          description: '_t__BulkSendJobGet::BULK_SEND_JOB_ID'
          required: true
          schema:
            type: string
          example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobGet.py
  /bulk_send_job/list:
    get:
      tags:
        - 'Bulk Send Job'
      summary: '_t__BulkSendJobList::SUMMARY'
      description: '_t__BulkSendJobList::DESCRIPTION'
      operationId: bulkSendJobList
      parameters:
        -
          name: page
          in: query
          description: '_t__BulkSendJobList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__BulkSendJobList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobList.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobList.py
  '/embedded/edit_url/{template_id}':
    post:
      tags:
        - Embedded
      summary: '_t__EmbeddedEditUrl::SUMMARY'
      description: '_t__EmbeddedEditUrl::DESCRIPTION'
      operationId: embeddedEditUrl
      parameters:
        -
          name: template_id
          in: path
          description: '_t__EmbeddedEditUrl::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: 5de8179668f2033afac48da1868d0093bf133266
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
            examples:
              default_example:
                $ref: '#/components/examples/EmbeddedEditUrlRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedEditUrl.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedEditUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedEditUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedEditUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedEditUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedEditUrl.py
  '/embedded/sign_url/{signature_id}':
    get:
      tags:
        - Embedded
      summary: '_t__EmbeddedSignUrl::SUMMARY'
      description: '_t__EmbeddedSignUrl::DESCRIPTION'
      operationId: embeddedSignUrl
      parameters:
        -
          name: signature_id
          in: path
          description: '_t__EmbeddedSignUrl::SIGNATURE_ID'
          required: true
          schema:
            type: string
          example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedSignUrl.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedSignUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedSignUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedSignUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedSignUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedSignUrl.py
  /oauth/token:
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenGenerate::SUMMARY'
      description: '_t__OAuthTokenGenerate::DESCRIPTION'
      operationId: oauthTokenGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenGenerateRequestExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenGenerate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenGenerate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenGenerate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenGenerate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenGenerate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenGenerate.py
  '/oauth/token?refresh':
    post:
      tags:
        - OAuth
      summary: '_t__OAuthTokenRefresh::SUMMARY'
      description: '_t__OAuthTokenRefresh::DESCRIPTION'
      operationId: oauthTokenRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenRefreshRequestExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenRefresh.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenRefresh.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenRefresh.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenRefresh.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenRefresh.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenRefresh.py
  /report/create:
    post:
      tags:
        - Report
      summary: '_t__ReportCreate::SUMMARY'
      description: '_t__ReportCreate::DESCRIPTION'
      operationId: reportCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ReportCreateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ReportCreateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ReportCreate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ReportCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ReportCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ReportCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ReportCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ReportCreate.py
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.py
  /signature_request/bulk_send_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestBulkSendWithTemplate::SUMMARY'
      description: '_t__SignatureRequestBulkSendWithTemplate::DESCRIPTION'
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.py
  '/signature_request/cancel/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCancel::SUMMARY'
      description: '_t__SignatureRequestCancel::DESCRIPTION'
      operationId: signatureRequestCancel
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestCancel::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a8e2045224d808c153c2e1d3df6f8f2f
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json: {  }
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCancel.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCancel.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCancel.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCancel.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCancel.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCancel.py
  /signature_request/create_embedded:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCreateEmbedded::SUMMARY'
      description: '_t__SignatureRequestCreateEmbedded::DESCRIPTION'
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbedded.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbedded.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbedded.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbedded.py
  /signature_request/create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__SignatureRequestCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.py
  '/signature_request/files/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestFiles::SUMMARY'
      description: '_t__SignatureRequestFiles::DESCRIPTION'
      operationId: signatureRequestFiles
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestFiles::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        -
          name: file_type
          in: query
          description: '_t__SignatureRequestFiles::FILE_TYPE'
          schema:
            type: string
            default: pdf
            enum:
              - pdf
              - zip
        -
          name: get_url
          in: query
          description: '_t__SignatureRequestFiles::GET_URL'
          schema:
            type: boolean
            default: false
        -
          name: get_data_uri
          in: query
          description: '_t__SignatureRequestFiles::GET_DATA_URI'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFiles.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFiles.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFiles.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFiles.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFiles.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFiles.py
  '/signature_request/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestGet::SUMMARY'
      description: '_t__SignatureRequestGet::DESCRIPTION'
      operationId: signatureRequestGet
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestGet::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestGet.py
  /signature_request/list:
    get:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestList::SUMMARY'
      description: '_t__SignatureRequestList::DESCRIPTION'
      operationId: signatureRequestList
      parameters:
        -
          name: account_id
          in: query
          description: '_t__SignatureRequestList::ACCOUNT_ID'
          schema:
            type: string
        -
          name: page
          in: query
          description: '_t__SignatureRequestList::PAGE'
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: '_t__SignatureRequestList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
        -
          name: query
          in: query
          description: '_t__SignatureRequestList::QUERY'
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestListResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestList.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestList.py
  '/signature_request/release_hold/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestReleaseHold::SUMMARY'
      description: '_t__SignatureRequestReleaseHold::DESCRIPTION'
      operationId: signatureRequestReleaseHold
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestReleaseHold::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a8e2045224d808c153c2e1d3df6f8f2f
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestReleaseHoldResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestReleaseHold.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestReleaseHold.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestReleaseHold.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestReleaseHold.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestReleaseHold.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestReleaseHold.py
  '/signature_request/remind/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestRemind::SUMMARY'
      description: '_t__SignatureRequestRemind::DESCRIPTION'
      operationId: signatureRequestRemind
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestRemind::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a8e2045224d808c153c2e1d3df6f8f2f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestRemindRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestRemindRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestRemindResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestRemind.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestRemind.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestRemind.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestRemind.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestRemind.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestRemind.py
  '/signature_request/remove/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestRemove::SUMMARY'
      description: '_t__SignatureRequestRemove::DESCRIPTION'
      operationId: signatureRequestRemove
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestRemove::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a8e2045224d808c153c2e1d3df6f8f2f
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json: {  }
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestRemove.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestRemove.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestRemove.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestRemove.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestRemove.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestRemove.py
  /signature_request/send:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestSend::SUMMARY'
      description: '_t__SignatureRequestSend::DESCRIPTION'
      operationId: signatureRequestSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendRequestDefaultExample'
              grouped_signers:
                $ref: '#/components/examples/SignatureRequestSendRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestSendResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestSend.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestSend.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestSend.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestSend.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestSend.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestSend.py
  /signature_request/send_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestSendWithTemplate::SUMMARY'
      description: '_t__SignatureRequestSendWithTemplate::DESCRIPTION'
      operationId: signatureRequestSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendWithTemplateRequestDefaultExample'
              grouped_signers:
                $ref: '#/components/examples/SignatureRequestSendWithTemplateRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestSendWithTemplateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestSendWithTemplateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestSendWithTemplate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestSendWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestSendWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestSendWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestSendWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestSendWithTemplate.py
  '/signature_request/update/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: '_t__SignatureRequestUpdate::SUMMARY'
      description: '_t__SignatureRequestUpdate::DESCRIPTION'
      operationId: signatureRequestUpdate
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__SignatureRequestUpdate::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a8e2045224d808c153c2e1d3df6f8f2f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestUpdateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestUpdateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestUpdate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestUpdate.py
  /team/add_member:
    put:
      tags:
        - Team
      summary: '_t__TeamAddMember::SUMMARY'
      description: '_t__TeamAddMember::DESCRIPTION'
      operationId: teamAddMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamAddMemberRequest'
            examples:
              email_address:
                $ref: '#/components/examples/TeamAddMemberRequestEmailAddressExample'
              account_id:
                $ref: '#/components/examples/TeamAddMemberRequestAccountIdExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamAddMemberResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamAddMember.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamAddMember.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamAddMember.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamAddMember.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamAddMember.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamAddMember.py
  /team/create:
    post:
      tags:
        - Team
      summary: '_t__TeamCreate::SUMMARY'
      description: '_t__TeamCreate::DESCRIPTION'
      operationId: teamCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TeamCreateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamCreateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamCreate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamCreate.py
  /team/destroy:
    delete:
      tags:
        - Team
      summary: '_t__TeamDelete::SUMMARY'
      description: '_t__TeamDelete::DESCRIPTION'
      operationId: teamDelete
      responses:
        '200':
          description: 'successful operation'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamDelete.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamDelete.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamDelete.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamDelete.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamDelete.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamDelete.py
  /team:
    get:
      tags:
        - Team
      summary: '_t__TeamGet::SUMMARY'
      description: '_t__TeamGet::DESCRIPTION'
      operationId: teamGet
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
        '404':
          description: 'not found'
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/TeamDoesNotExistResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamGet.py
    put:
      tags:
        - Team
      summary: '_t__TeamUpdate::SUMMARY'
      description: '_t__TeamUpdate::DESCRIPTION'
      operationId: teamUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TeamUpdateRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamUpdateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamUpdate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamUpdate.py
  /team/remove_member:
    post:
      tags:
        - Team
      summary: '_t__TeamRemoveMember::SUMMARY'
      description: '_t__TeamRemoveMember::DESCRIPTION'
      operationId: teamRemoveMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamRemoveMemberRequest'
            examples:
              email_address:
                $ref: '#/components/examples/TeamRemoveMemberRequestEmailAddressExample'
              account_id:
                $ref: '#/components/examples/TeamRemoveMemberRequestAccountIdExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TeamRemoveMemberResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - team_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TeamRemoveMember.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TeamRemoveMember.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TeamRemoveMember.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TeamRemoveMember.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TeamRemoveMember.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TeamRemoveMember.py
  '/template/add_user/{template_id}':
    post:
      tags:
        - Template
      summary: '_t__TemplateAddUser::SUMMARY'
      description: '_t__TemplateAddUser::DESCRIPTION'
      operationId: templateAddUser
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateAddUser::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateAddUserRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateAddUserRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateAddUserResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateAddUser.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateAddUser.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateAddUser.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateAddUser.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateAddUser.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateAddUser.py
  /template/create_embedded_draft:
    post:
      tags:
        - Template
      summary: '_t__TemplateCreateEmbeddedDraft::SUMMARY'
      description: '_t__TemplateCreateEmbeddedDraft::DESCRIPTION'
      operationId: templateCreateEmbeddedDraft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateEmbeddedDraftRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestDefaultExample'
              form_fields_per_document:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldsPerDocumentExample'
              form_field_groups:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldGroupsExample'
              form_field_rules:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormFieldRulesExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateCreateEmbeddedDraftRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateCreateEmbeddedDraftRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreateEmbeddedDraftResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateCreateEmbeddedDraftResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateCreateEmbeddedDraft.py
  '/template/delete/{template_id}':
    post:
      tags:
        - Template
      summary: '_t__TemplateDelete::SUMMARY'
      description: '_t__TemplateDelete::DESCRIPTION'
      operationId: templateDelete
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateDelete::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: 5de8179668f2033afac48da1868d0093bf133266
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json: {  }
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateDelete.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateDelete.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateDelete.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateDelete.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateDelete.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateDelete.py
  '/template/files/{template_id}':
    get:
      tags:
        - Template
      summary: '_t__TemplateFiles::SUMMARY'
      description: '_t__TemplateFiles::DESCRIPTION'
      operationId: templateFiles
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateFiles::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: 5de8179668f2033afac48da1868d0093bf133266
        -
          name: file_type
          in: query
          description: '_t__TemplateFiles::FILE_TYPE'
          schema:
            type: string
            enum:
              - pdf
              - zip
        -
          name: get_url
          in: query
          description: '_t__TemplateFiles::GET_URL'
          schema:
            type: boolean
            default: false
        -
          name: get_data_uri
          in: query
          description: '_t__TemplateFiles::GET_DATA_URI'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateFilesResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateFiles.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateFiles.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateFiles.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateFiles.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateFiles.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateFiles.py
  '/template/{template_id}':
    get:
      tags:
        - Template
      summary: '_t__TemplateGet::SUMMARY'
      description: '_t__TemplateGet::DESCRIPTION'
      operationId: templateGet
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateGet::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: f57db65d3f933b5316d398057a36176831451a35
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateGetResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateGet.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateGet.py
  /template/list:
    get:
      tags:
        - Template
      summary: '_t__TemplateList::SUMMARY'
      description: '_t__TemplateList::DESCRIPTION'
      operationId: templateList
      parameters:
        -
          name: account_id
          in: query
          description: '_t__TemplateList::ACCOUNT_ID'
          schema:
            type: string
        -
          name: page
          in: query
          description: '_t__TemplateList::PAGE'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: '_t__TemplateList::PAGE_SIZE'
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
        -
          name: query
          in: query
          description: '_t__TemplateList::QUERY'
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateListResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateList.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateList.py
  '/template/remove_user/{template_id}':
    post:
      tags:
        - Template
      summary: '_t__TemplateRemoveUser::SUMMARY'
      description: '_t__TemplateRemoveUser::DESCRIPTION'
      operationId: templateRemoveUser
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateRemoveUser::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: 21f920ec2b7f4b6bb64d3ed79f26303843046536
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRemoveUserRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateRemoveUserRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateRemoveUserResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateRemoveUser.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateRemoveUser.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateRemoveUser.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateRemoveUser.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateRemoveUser.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateRemoveUser.py
  '/template/update_files/{template_id}':
    post:
      tags:
        - Template
      summary: '_t__TemplateUpdateFiles::SUMMARY'
      description: '_t__TemplateUpdateFiles::DESCRIPTION'
      operationId: templateUpdateFiles
      parameters:
        -
          name: template_id
          in: path
          description: '_t__TemplateUpdateFiles::TEMPLATE_ID'
          required: true
          schema:
            type: string
          example: 5de8179668f2033afac48da1868d0093bf133266
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateFilesRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateUpdateFilesRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TemplateUpdateFilesRequest'
            examples:
              default_example:
                $ref: '#/components/examples/TemplateUpdateFilesRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateFilesResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/TemplateUpdateFilesResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/TemplateUpdateFiles.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/TemplateUpdateFiles.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/TemplateUpdateFiles.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/TemplateUpdateFiles.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/TemplateUpdateFiles.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/TemplateUpdateFiles.py
  /unclaimed_draft/create:
    post:
      tags:
        - 'Unclaimed Draft'
      summary: '_t__UnclaimedDraftCreate::SUMMARY'
      description: '_t__UnclaimedDraftCreate::DESCRIPTION'
      operationId: unclaimedDraftCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestDefaultExample'
              form_fields_per_document:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldsPerDocumentExample'
              form_field_groups:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldGroupsExample'
              form_field_rules:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldRulesExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/UnclaimedDraftCreateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/UnclaimedDraftCreate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/UnclaimedDraftCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/UnclaimedDraftCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/UnclaimedDraftCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/UnclaimedDraftCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/UnclaimedDraftCreate.py
  /unclaimed_draft/create_embedded:
    post:
      tags:
        - 'Unclaimed Draft'
      summary: '_t__UnclaimedDraftCreateEmbedded::SUMMARY'
      description: '_t__UnclaimedDraftCreateEmbedded::DESCRIPTION'
      operationId: unclaimedDraftCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestDefaultExample'
              form_fields_per_document:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldsPerDocumentExample'
              form_field_groups:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldGroupsExample'
              form_field_rules:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldRulesExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/UnclaimedDraftCreateEmbedded.py
  /unclaimed_draft/create_embedded_with_template:
    post:
      tags:
        - 'Unclaimed Draft'
      summary: '_t__UnclaimedDraftCreateEmbeddedWithTemplate::SUMMARY'
      description: '_t__UnclaimedDraftCreateEmbeddedWithTemplate::DESCRIPTION'
      operationId: unclaimedDraftCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedWithTemplateRequestFormDataExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedWithTemplateResponseExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplate.py
  '/unclaimed_draft/edit_and_resend/{signature_request_id}':
    post:
      tags:
        - 'Unclaimed Draft'
      summary: '_t__UnclaimedDraftEditAndResend::SUMMARY'
      description: '_t__UnclaimedDraftEditAndResend::DESCRIPTION'
      operationId: unclaimedDraftEditAndResend
      parameters:
        -
          name: signature_request_id
          in: path
          description: '_t__UnclaimedDraftEditAndResend::SIGNATURE_REQUEST_ID'
          required: true
          schema:
            type: string
          example: 2f9781e1a83jdja934d808c153c2e1d3df6f8f2f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftEditAndResendRequest'
            examples:
              default_example:
                $ref: '#/components/examples/UnclaimedDraftEditAndResendRequestDefaultExample'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/UnclaimedDraftEditAndResendExample'
        '400':
          $ref: '#/components/responses/Error400Response'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/UnclaimedDraftEditAndResend.php
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/UnclaimedDraftEditAndResend.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/UnclaimedDraftEditAndResend.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/UnclaimedDraftEditAndResend.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/UnclaimedDraftEditAndResend.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/UnclaimedDraftEditAndResend.py
components:
  schemas:
    AccountCreateRequest:
      required:
        - email_address
      properties:
        client_id:
          description: '_t__AccountCreate::CLIENT_ID'
          type: string
        client_secret:
          description: '_t__AccountCreate::CLIENT_SECRET'
          type: string
        email_address:
          description: '_t__AccountCreate::EMAIL_ADDRESS'
          type: string
          format: email
      type: object
    AccountUpdateRequest:
      properties:
        callback_url:
          description: '_t__AccountUpdate::CALLBACK_URL'
          type: string
      type: object
    AccountVerifyRequest:
      required:
        - email_address
      properties:
        email_address:
          description: '_t__AccountVerify::EMAIL_ADDRESS'
          type: string
          format: email
      type: object
    ApiAppCreateRequest:
      required:
        - name
        - domains
      properties:
        callback_url:
          description: '_t__ApiAppCreate::CALLBACK_URL'
          type: string
        custom_logo_file:
          description: '_t__ApiAppCreate::CUSTOM_LOGO_FILE'
          type: string
          format: binary
        domains:
          description: '_t__ApiAppCreate::DOMAINS'
          type: array
          items:
            type: string
          maxItems: 2
          minItems: 1
        name:
          description: '_t__ApiAppCreate::NAME'
          type: string
        oauth:
          $ref: '#/components/schemas/SubOAuth'
        options:
          $ref: '#/components/schemas/SubOptions'
        white_labeling_options:
          $ref: '#/components/schemas/SubWhiteLabelingOptions'
      type: object
    ApiAppUpdateRequest:
      properties:
        callback_url:
          description: '_t__ApiAppUpdate::CALLBACK_URL'
          type: string
        custom_logo_file:
          description: '_t__ApiAppUpdate::CUSTOM_LOGO_FILE'
          type: string
          format: binary
        domains:
          description: '_t__ApiAppUpdate::DOMAINS'
          type: array
          items:
            type: string
          maxItems: 2
        name:
          description: '_t__ApiAppUpdate::NAME'
          type: string
        oauth:
          $ref: '#/components/schemas/SubOAuth'
        options:
          $ref: '#/components/schemas/SubOptions'
        white_labeling_options:
          $ref: '#/components/schemas/SubWhiteLabelingOptions'
      type: object
    EmbeddedEditUrlRequest:
      properties:
        allow_edit_ccs:
          description: '_t__EmbeddedEditUrl::ALLOW_EDIT_CCS'
          type: boolean
          default: false
        cc_roles:
          description: '_t__EmbeddedEditUrl::CC_ROLES'
          type: array
          items:
            type: string
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        force_signer_roles:
          description: '_t__EmbeddedEditUrl::FORCE_SIGNER_ROLES'
          type: boolean
          default: false
        force_subject_message:
          description: '_t__EmbeddedEditUrl::FORCE_SUBJECT_MESSAGE'
          type: boolean
          default: false
        merge_fields:
          type: array
[...]
