{
    {{#composerPackageName}}
    "name": "{{{.}}}",
    {{/composerPackageName}}
    "description": "{{{appDescription}}}",
    "keywords": [
        "openapitools",
        "openapi-generator",
        "openapi",
        "php",
        "sdk",
        "rest",
        "api",
        "hellosign",
        "dropboxsign"
    ],
    "homepage": "{{{artifactUrl}}}",
    "license": "{{{licenseName}}}",
    "authors": [
        {
            "name": "{{{developerOrganization}}}",
            "homepage": "{{{developerOrganizationUrl}}}",
            "email": "{{{developerOrganizationEmail}}}"
        }
    ],
    "require": {
        "php": "^7.4 || ^8.0",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^7.3",
        "guzzlehttp/psr7": "^1.7 || ^2.0"
    },
    "require-dev": {
        "phpunit/phpunit": "^8.0 || ^9.0",
        "friendsofphp/php-cs-fixer": "^3.5",
        "symfony/yaml": "^5.4"
    },
    "autoload": {
        "psr-4": { "{{{escapedInvokerPackage}}}\\" : "{{{srcBasePath}}}/" }
    },
    "autoload-dev": {
        "psr-4": { "{{{escapedInvokerPackage}}}\\Test\\" : "{{{testBasePath}}}/" }
    }
}
