=begin
{{> api_info}}
=end

require 'date'
require 'time'

{{! CUSTOM - BEGIN }}
module Dropbox
end
{{! CUSTOM - END }}

module {{moduleName}}
{{#models}}
{{#model}}
{{#isEnum}}
{{>partial_model_enum_class}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}
{{>partial_oneof_module}}
{{/-first}}
{{/oneOf}}
{{#vendorExtensions.x-ignore-block}}
{{#anyOf}}
{{#-first}}
{{>partial_anyof_module}}
{{/-first}}
{{/anyOf}}
{{/vendorExtensions.x-ignore-block}}
{{^oneOf}}
{{#vendorExtensions.x-ignore-block}}
{{^anyOf}}
{{>partial_model_generic}}
{{/anyOf}}
{{/vendorExtensions.x-ignore-block}}
{{>partial_model_generic}}
{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
end
