=begin
{{> api_info}}
=end

require 'date'
require 'time'

{{#useCustomTemplateCode}}
module Dropbox
end

{{/useCustomTemplateCode}}
module {{moduleName}}
{{#models}}
{{#model}}
{{#isEnum}}
{{>partial_model_enum_class}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}
{{#-first}}
{{>partial_oneof_module}}
{{/-first}}
{{/oneOf}}
{{^useCustomTemplateCode}}
{{#anyOf}}
{{#-first}}
{{>partial_anyof_module}}
{{/-first}}
{{/anyOf}}
{{/useCustomTemplateCode}}
{{^oneOf}}
{{^useCustomTemplateCode}}
{{^anyOf}}
{{>partial_model_generic}}
{{/anyOf}}
{{/useCustomTemplateCode}}
{{#useCustomTemplateCode}}
{{>partial_model_generic}}
{{/useCustomTemplateCode}}
{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
end
