=begin
#Dropbox Sign API

#Dropbox Sign v3 API

The version of the OpenAPI document: 3.0.0
Contact: apisupport@hellosign.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module Dropbox
end

module Dropbox::Sign
  class DocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Detect Document Fields
    # Detects form fields in a PDF document using either PDF form annotations or Dropbox Sign text tags.
    # Example: https://github.com/hellosign/dropbox-sign-ruby/blob/main/examples/DocumentDetectFieldsExample.rb
    # @param document_field_detection_request [DocumentFieldDetectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentFieldDetectionResponse]
    def document_detect_fields(document_field_detection_request, opts = {})
      data, _status_code, _headers = document_detect_fields_with_http_info(document_field_detection_request, opts)
      data
    end

    # Detect Document Fields
    # Detects form fields in a PDF document using either PDF form annotations or Dropbox Sign text tags.
    # Example: https://github.com/hellosign/dropbox-sign-ruby/blob/main/examples/DocumentDetectFieldsExample.rb
    # @param document_field_detection_request [DocumentFieldDetectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentFieldDetectionResponse, Integer, Hash)>] DocumentFieldDetectionResponse data, response status code and response headers
    def document_detect_fields_with_http_info(document_field_detection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentApi.document_detect_fields ...'
      end
      # verify the required parameter 'document_field_detection_request' is set
      if @api_client.config.client_side_validation && document_field_detection_request.nil?
        fail ArgumentError, "Missing the required parameter 'document_field_detection_request' when calling DocumentApi.document_detect_fields"
      end
      # resource path
      local_var_path = '/document/detect_fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      post_body = {}
      form_params = opts[:form_params] || {}
      result = @api_client.generate_form_data(
        document_field_detection_request,
        Dropbox::Sign::DocumentFieldDetectionRequest.openapi_types
      )

      # form parameters
      if result[:has_file]
        form_params = opts[:form_params] || result[:params]
        header_params['Content-Type'] = 'multipart/form-data'
      else
        # http body (model)
        post_body = opts[:debug_body] || result[:params]
      end

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentFieldDetectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentApi.document_detect_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
        if e.code === 200
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::DocumentFieldDetectionResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        range_code = "4XX".split('').first
        range_code_left = "#{range_code}00".to_i
        range_code_right = "#{range_code}99".to_i
        if e.code && e.code >= range_code_left && e.code <= range_code_right
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::ErrorResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        raise e
      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentApi#document_detect_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
