=begin
#Dropbox Sign API

#Dropbox Sign v3 API

The version of the OpenAPI document: 3.0.0
Contact: apisupport@hellosign.com
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module Dropbox
end

module Dropbox::Sign
  class FaxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Fax
    # Deletes the specified Fax from the system.
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_fax(fax_id, opts = {})
      delete_fax_with_http_info(fax_id, opts)
      nil
    end

    # Delete Fax
    # Deletes the specified Fax from the system.
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_fax_with_http_info(fax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FaxApi.delete_fax ...'
      end
      # verify the required parameter 'fax_id' is set
      if @api_client.config.client_side_validation && fax_id.nil?
        fail ArgumentError, "Missing the required parameter 'fax_id' when calling FaxApi.delete_fax"
      end
      # resource path
      local_var_path = '/fax/{fax_id}'.sub('{' + 'fax_id' + '}', CGI.escape(fax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      post_body = {}
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"FaxApi.delete_fax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#delete_fax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Fax
    # Returns information about fax
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [FaxResponse]
    def get_fax_by_id(fax_id, opts = {})
      data, _status_code, _headers = get_fax_by_id_with_http_info(fax_id, opts)
      data
    end

    # Get Fax
    # Returns information about fax
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FaxResponse, Integer, Hash)>] FaxResponse data, response status code and response headers
    def get_fax_by_id_with_http_info(fax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FaxApi.get_fax_by_id ...'
      end
      # verify the required parameter 'fax_id' is set
      if @api_client.config.client_side_validation && fax_id.nil?
        fail ArgumentError, "Missing the required parameter 'fax_id' when calling FaxApi.get_fax_by_id"
      end
      # resource path
      local_var_path = '/fax/{fax_id}'.sub('{' + 'fax_id' + '}', CGI.escape(fax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      post_body = {}
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FaxResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"FaxApi.get_fax_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
        if e.code === 200
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::FaxResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        range_code = "4XX".split('').first
        range_code_left = "#{range_code}00".to_i
        range_code_right = "#{range_code}99".to_i
        if e.code >= range_code_left && e.code <= range_code_right
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::ErrorResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#get_fax_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Fax Files
    # Returns list of fax files
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_fax_files(fax_id, opts = {})
      data, _status_code, _headers = get_fax_files_with_http_info(fax_id, opts)
      data
    end

    # List Fax Files
    # Returns list of fax files
    # @param fax_id [String] Fax ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_fax_files_with_http_info(fax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FaxApi.get_fax_files ...'
      end
      # verify the required parameter 'fax_id' is set
      if @api_client.config.client_side_validation && fax_id.nil?
        fail ArgumentError, "Missing the required parameter 'fax_id' when calling FaxApi.get_fax_files"
      end
      # resource path
      local_var_path = '/fax/files/{fax_id}'.sub('{' + 'fax_id' + '}', CGI.escape(fax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      post_body = {}
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"FaxApi.get_fax_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
        if e.code === 200
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::File"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        range_code = "4XX".split('').first
        range_code_left = "#{range_code}00".to_i
        range_code_right = "#{range_code}99".to_i
        if e.code >= range_code_left && e.code <= range_code_right
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::ErrorResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#get_fax_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists Faxes
    # Returns properties of multiple faxes
    # @param page [Integer] Page
    # @param page_size [Integer] Page size
    # @param [Hash] opts the optional parameters
    # @return [FaxListResponse]
    def list_faxes(page, page_size, opts = {})
      data, _status_code, _headers = list_faxes_with_http_info(page, page_size, opts)
      data
    end

    # Lists Faxes
    # Returns properties of multiple faxes
    # @param page [Integer] Page
    # @param page_size [Integer] Page size
    # @param [Hash] opts the optional parameters
    # @return [Array<(FaxListResponse, Integer, Hash)>] FaxListResponse data, response status code and response headers
    def list_faxes_with_http_info(page, page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FaxApi.list_faxes ...'
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling FaxApi.list_faxes"
      end
      if @api_client.config.client_side_validation && page < 1
        fail ArgumentError, 'invalid value for "page" when calling FaxApi.list_faxes, must be greater than or equal to 1.'
      end

      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling FaxApi.list_faxes"
      end
      if @api_client.config.client_side_validation && page_size > 100
        fail ArgumentError, 'invalid value for "page_size" when calling FaxApi.list_faxes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling FaxApi.list_faxes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/fax/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = page
      query_params[:'page_size'] = page_size

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      post_body = {}
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FaxListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"FaxApi.list_faxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
        if e.code === 200
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::FaxListResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        range_code = "4XX".split('').first
        range_code_left = "#{range_code}00".to_i
        range_code_right = "#{range_code}99".to_i
        if e.code >= range_code_left && e.code <= range_code_right
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::ErrorResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#list_faxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Fax
    # Action to prepare and send a fax
    # @param fax_send_request [FaxSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FaxResponse]
    def send_fax(fax_send_request, opts = {})
      data, _status_code, _headers = send_fax_with_http_info(fax_send_request, opts)
      data
    end

    # Send Fax
    # Action to prepare and send a fax
    # @param fax_send_request [FaxSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FaxResponse, Integer, Hash)>] FaxResponse data, response status code and response headers
    def send_fax_with_http_info(fax_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FaxApi.send_fax ...'
      end
      # verify the required parameter 'fax_send_request' is set
      if @api_client.config.client_side_validation && fax_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'fax_send_request' when calling FaxApi.send_fax"
      end
      # resource path
      local_var_path = '/fax/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      post_body = {}
      form_params = opts[:form_params] || {}
      result = @api_client.generate_form_data(
        fax_send_request,
        Dropbox::Sign::FaxSendRequest.openapi_types
      )

      # form parameters
      if result[:has_file]
        form_params = opts[:form_params] || result[:params]
        header_params['Content-Type'] = 'multipart/form-data'
      else
        # http body (model)
        post_body = opts[:debug_body] || result[:params]
      end

      # return_type
      return_type = opts[:debug_return_type] || 'FaxResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"FaxApi.send_fax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      begin
        data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      rescue Dropbox::Sign::ApiError => e
        if e.code === 200
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::FaxResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

        range_code = "4XX".split('').first
        range_code_left = "#{range_code}00".to_i
        range_code_right = "#{range_code}99".to_i
        if e.code >= range_code_left && e.code <= range_code_right
          body = @api_client.convert_to_type(
            JSON.parse("[#{e.response_body}]", :symbolize_names => true)[0],
            "Dropbox::Sign::ErrorResponse"
          )

          fail ApiError.new(:code => e.code,
                            :response_headers => e.response_headers,
                            :response_body => body),
               e.message
        end

      end

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#send_fax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
