openapi: 3.0.3
info:
  contact:
    email: apisupport@hellosign.com
  description: Dropbox Sign v3 API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.hellosign.com/terms
  title: Dropbox Sign API
  version: 3.0.0
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
  oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
paths:
  /account/create:
    post:
      description: Creates a new Dropbox Sign Account that is associated with the
        specified `email_address`.
      operationId: accountCreate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/AccountCreateRequestDefaultExample'
              oauth:
                $ref: '#/components/examples/AccountCreateRequestOAuthExample'
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/AccountCreateResponseExample'
                oauth:
                  $ref: '#/components/examples/AccountCreateOAuthResponseExample'
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - account_access
      summary: Create Account
      tags:
      - Account
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/AccountCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/AccountCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/AccountCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/AccountCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/AccountCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/AccountCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/AccountCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/AccountCreate.sh
      x-meta:
        seo:
          title: Create Account | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a range of tools.
            Find out how to create a new Dropbox Sign Account using the specified
            `email_address` here.
  /account:
    get:
      description: Returns the properties and settings of your Account.
      operationId: accountGet
      parameters:
      - description: |-
          `account_id` or `email_address` is required. If both are provided, the account id prevails.

          The ID of the Account.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          `account_id` or `email_address` is required, If both are provided, the account id prevails.

          The email address of the Account.
        explode: true
        in: query
        name: email_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/AccountGetResponseExample'
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - account_access
        - basic_account_info
      summary: Get Account
      tags:
      - Account
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/AccountGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/AccountGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/AccountGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/AccountGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/AccountGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/AccountGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/AccountGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/AccountGet.sh
      x-meta:
        seo:
          title: Get Account | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build with a wide range\
            \ of tools. To find out how to return the properties and settings of your\
            \ Account, click here."
    put:
      description: "Updates the properties and settings of your Account. Currently\
        \ only allows for updates to the [Callback URL](/api/reference/tag/Callbacks-and-Events)\
        \ and locale."
      operationId: accountUpdate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/AccountUpdateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/AccountUpdateResponseExample'
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - account_access
      summary: Update Account
      tags:
      - Account
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/AccountUpdate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/AccountUpdate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/AccountUpdate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/AccountUpdate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/AccountUpdate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/AccountUpdate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/AccountUpdate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/AccountUpdate.sh
      x-meta:
        seo:
          title: Update Account | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build with a wide range\
            \ of tools. To find out how update the properties and settings of your\
            \ Account, click here."
  /account/verify:
    post:
      description: Verifies whether an Dropbox Sign Account exists for the given email
        address.
      operationId: accountVerify
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/AccountVerifyRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/AccountVerifyFoundResponseExample'
                not_found:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponseExample'
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - account_access
      summary: Verify Account
      tags:
      - Account
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/AccountVerify.php
      - lang: C#
        label: C#
        source:
          $ref: examples/AccountVerify.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/AccountVerify.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/AccountVerify.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/AccountVerify.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/AccountVerify.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/AccountVerify.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/AccountVerify.sh
      x-meta:
        seo:
          title: Verify Account | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build with a wide range\
            \ of tools. To find out how to verify whether an Account exists, click\
            \ here."
  /api_app:
    post:
      description: Creates a new API App.
      operationId: apiAppCreate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppCreateResponseExample'
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      summary: Create API App
      tags:
      - Api App
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppCreate.sh
      x-meta:
        seo:
          title: Create API App | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations\
            \ with a wide range of tools. To find out how to create a new API App,\
            \ click here."
  /api_app/{client_id}:
    delete:
      description: Deletes an API App. Can only be invoked for apps you own.
      operationId: apiAppDelete
      parameters:
      - description: The client id of the API App to delete.
        example: 0dd3b823a682527788c4e40cb7b6f7e9
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      summary: Delete API App
      tags:
      - Api App
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppDelete.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppDelete.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppDelete.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppDelete.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppDelete.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppDelete.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppDelete.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppDelete.sh
      x-meta:
        seo:
          title: Delete API App | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations\
            \ with a wide range of tools. To find out how to delete an API App, click\
            \ here."
    get:
      description: Returns an object with information about an API App.
      operationId: apiAppGet
      parameters:
      - description: The client id of the API App to retrieve.
        example: 0dd3b823a682527788c4e40cb7b6f7e9
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppGetResponseExample'
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      summary: Get API App
      tags:
      - Api App
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppGet.sh
      x-meta:
        seo:
          title: Get API App | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build with a wide range\
            \ of tools. To find out how to return an object with information about\
            \ an API App, click here."
    put:
      description: "Updates an existing API App. Can only be invoked for apps you\
        \ own. Only the fields you provide will be updated. If you wish to clear an\
        \ existing optional field, provide an empty string."
      operationId: apiAppUpdate
      parameters:
      - description: The client id of the API App to update.
        example: 0dd3b823a682527788c4e40cb7b6f7e9
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppUpdateResponseExample'
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      summary: Update API App
      tags:
      - Api App
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppUpdate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppUpdate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppUpdate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppUpdate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppUpdate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppUpdate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppUpdate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppUpdate.sh
      x-meta:
        seo:
          title: Update API App | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations\
            \ with a wide range of tools. To find out how to update an App that you\
            \ own, click here."
  /api_app/list:
    get:
      description: "Returns a list of API Apps that are accessible by you. If you\
        \ are on a team with an Admin or Developer role, this list will include apps\
        \ owned by teammates."
      operationId: apiAppList
      parameters:
      - description: Which page number of the API App List to return. Defaults to
          `1`.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Number of objects to be returned per page. Must be between `1`
          and `100`. Default is `20`.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppListResponseExample'
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - api_app_access
      summary: List API Apps
      tags:
      - Api App
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ApiAppList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ApiAppList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ApiAppList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ApiAppList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ApiAppList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ApiAppList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ApiAppList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ApiAppList.sh
      x-meta:
        seo:
          title: List API Apps | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build with a wide range\
            \ of tools. To find out how to return a list of API Apps that are accessible\
            \ by you, click here."
  /bulk_send_job/{bulk_send_job_id}:
    get:
      description: Returns the status of the BulkSendJob and its SignatureRequests
        specified by the `bulk_send_job_id` parameter.
      operationId: bulkSendJobGet
      parameters:
      - description: The id of the BulkSendJob to retrieve.
        example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
        explode: false
        in: path
        name: bulk_send_job_id
        required: true
        schema:
          type: string
        style: simple
      - description: Which page number of the BulkSendJob list to return. Defaults
          to `1`.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Number of objects to be returned per page. Must be between `1`
          and `100`. Default is 20.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Get Bulk Send Job
      tags:
      - Bulk Send Job
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobGet.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobGet.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobGet.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobGet.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobGet.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobGet.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobGet.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobGet.sh
      x-meta:
        seo:
          title: Get Bulk Send Job | API Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to return the status of the BulkSendJob and SignatureRequests,\
            \ click here."
  /bulk_send_job/list:
    get:
      description: Returns a list of BulkSendJob that you can access.
      operationId: bulkSendJobList
      parameters:
      - description: Which page number of the BulkSendJob List to return. Defaults
          to `1`.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Number of objects to be returned per page. Must be between `1`
          and `100`. Default is 20.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: List Bulk Send Jobs
      tags:
      - Bulk Send Job
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/BulkSendJobList.php
      - lang: C#
        label: C#
        source:
          $ref: examples/BulkSendJobList.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/BulkSendJobList.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/BulkSendJobList.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/BulkSendJobList.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/BulkSendJobList.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/BulkSendJobList.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/BulkSendJobList.sh
      x-meta:
        seo:
          title: List Bulk Send Jobs | Documentation | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to return a list of BulkSendJob that you can access,\
            \ click here."
  /embedded/edit_url/{template_id}:
    post:
      description: Retrieves an embedded object containing a template url that can
        be opened in an iFrame. Note that only templates created via the embedded
        template process are available to be edited with this endpoint.
      operationId: embeddedEditUrl
      parameters:
      - description: The id of the template to edit.
        example: f57db65d3f933b5316d398057a36176831451a35
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/EmbeddedEditUrlRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponseExample'
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - template_access
      summary: Get Embedded Template Edit URL
      tags:
      - Embedded
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/EmbeddedEditUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/EmbeddedEditUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/EmbeddedEditUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/EmbeddedEditUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/EmbeddedEditUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/EmbeddedEditUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/EmbeddedEditUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/EmbeddedEditUrl.sh
      x-meta:
        seo:
          title: Get Embedded Template URL | iFrame | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to retrieve an embedded iFrame object containing a template\
            \ url, click here."
  /embedded/sign_url/{signature_id}:
    get:
      description: Retrieves an embedded object containing a signature url that can
        be opened in an iFrame. Note that templates created via the embedded template
        process will only be accessible through the API.
      operationId: embeddedSignUrl
      parameters:
      - description: The id of the signature to get a signature url for.
        example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
        explode: false
        in: path
        name: signature_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponseExample'
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      summary: Get Embedded Sign URL
      tags:
      - Embedded
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/EmbeddedSignUrl.php
      - lang: C#
        label: C#
        source:
          $ref: examples/EmbeddedSignUrl.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/EmbeddedSignUrl.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/EmbeddedSignUrl.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/EmbeddedSignUrl.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/EmbeddedSignUrl.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/EmbeddedSignUrl.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/EmbeddedSignUrl.sh
      x-meta:
        seo:
          title: Get Embedded Sign URL | iFrame | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to retrieve an embedded iFrame object containing a signature\
            \ url, click here."
  /oauth/token:
    post:
      description: "Once you have retrieved the code from the user callback, you will\
        \ need to exchange it for an access token via a backend call."
      operationId: oauthTokenGenerate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenGenerateRequestExample'
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponseExample'
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security: []
      servers:
      - url: https://app.hellosign.com
      summary: OAuth Token Generate
      tags:
      - OAuth
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/OauthTokenGenerate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/OauthTokenGenerate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/OauthTokenGenerate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/OauthTokenGenerate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/OauthTokenGenerate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/OauthTokenGenerate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/OauthTokenGenerate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/OauthTokenGenerate.sh
      x-meta:
        seo:
          title: Generate OAuth Token | Documentation | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ eSign integrations. To find out how to generate a new OAuth token with\
            \ the API, click here."
      x-hideTryItPanel: true
  /oauth/token?refresh:
    post:
      description: "Access tokens are only valid for a given period of time (typically\
        \ one hour) for security reasons. Whenever acquiring an new access token its\
        \ TTL is also given (see `expires_in`), along with a refresh token that can\
        \ be used to acquire a new access token after the current one has expired."
      operationId: oauthTokenRefresh
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenRefreshRequestExample'
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponseExample'
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security: []
      servers:
      - url: https://app.hellosign.com
      summary: OAuth Token Refresh
      tags:
      - OAuth
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/OauthTokenRefresh.php
      - lang: C#
        label: C#
        source:
          $ref: examples/OauthTokenRefresh.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/OauthTokenRefresh.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/OauthTokenRefresh.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/OauthTokenRefresh.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/OauthTokenRefresh.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/OauthTokenRefresh.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/OauthTokenRefresh.sh
      x-meta:
        seo:
          title: OAuth Token Refresh | Documentation | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ eSign integrations. To find out how to refresh your OAuth token with\
            \ the API, click here."
      x-hideTryItPanel: true
  /report/create:
    post:
      description: |-
        Request the creation of one or more report(s).

        When the report(s) have been generated, you will receive an email (one per requested report type) containing a link to download the report as a CSV file. The requested date range may be up to 12 months in duration, and `start_date` must not be more than 10 years in the past.
      operationId: reportCreate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/ReportCreateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/ReportCreateResponseExample'
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      summary: Create Report
      tags:
      - Report
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/ReportCreate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/ReportCreate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/ReportCreate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/ReportCreate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/ReportCreate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/ReportCreate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/ReportCreate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/ReportCreate.sh
      x-meta:
        seo:
          title: Create Report | API Documentation | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ eSign integrations. To find out how to request the creation of one or\
            \ more reports, click here."
  /signature_request/bulk_create_embedded_with_template:
    post:
      description: |-
        Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter to be signed in an embedded iFrame. These embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.

        **NOTE**: Only available for Standard plan and higher.
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponseExample'
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      summary: Embedded Bulk Send with Template
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: Embedded Bulk Send with Template | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to create embedded BulkSendJob signature requests, click\
            \ here."
  /signature_request/bulk_send_with_template:
    post:
      description: |-
        Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter.

        **NOTE**: Only available for Standard plan and higher.
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponseExample'
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Bulk Send with Template
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplate.sh
      x-meta:
        seo:
          title: Bulk Send with Template | REST API | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to create BulkSendJob for up to 250 signature requests,\
            \ click here."
  /signature_request/cancel/{signature_request_id}:
    post:
      description: |-
        Cancels an incomplete signature request. This action is **not reversible**.

        The request will be canceled and signers will no longer be able to sign. If they try to access the signature request they will receive a HTTP 410 status code indicating that the resource has been deleted. Cancelation is asynchronous and a successful call to this endpoint will return an empty 200 OK response if the signature request is eligible to be canceled and has been successfully queued.

        This 200 OK response does not indicate a successful cancelation of the signature request itself. The cancelation is confirmed via the `signature_request_canceled` event. It is recommended that a  [callback handler](/api/reference/tag/Callbacks-and-Events) be implemented to listen for the `signature_request_canceled` event. This callback will be sent only when the cancelation has completed successfully. If a callback handler has been configured and the event has not been received within 60 minutes of making the call, check the status of the request in the [API Dashboard](https://app.hellosign.com/apidashboard) and retry the cancelation if necessary.

        To be eligible for cancelation, a signature request must have been sent successfully, must not yet have been signed by all signers, and you must either be the sender or own the API app under which it was sent. A partially signed signature request can be canceled.

        **NOTE**: To remove your access to a completed signature request, use the endpoint: `POST /signature_request/remove/[:signature_request_id]`.
      operationId: signatureRequestCancel
      parameters:
      - description: The id of the incomplete SignatureRequest to cancel.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "410_example":
                  $ref: '#/components/examples/Error410ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Cancel Incomplete Signature Request
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCancel.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCancel.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCancel.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCancel.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCancel.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCancel.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCancel.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCancel.sh
      x-meta:
        seo:
          title: Cancel Incomplete Signature Request | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ eSign integrations. To find out how to cancel an incomplete signature\
            \ request, click here."
  /signature_request/create_embedded:
    post:
      description: "Creates a new SignatureRequest with the submitted documents to\
        \ be signed in an embedded iFrame. If form_fields_per_document is not specified,\
        \ a signature page will be affixed where all signers will be required to add\
        \ their signature, signifying their agreement to all contained documents.\
        \ <u>Note</u> that embedded signature requests can only be signed in embedded\
        \ iFrames whereas normal signature requests can only be signed on Dropbox\
        \ Sign."
      operationId: signatureRequestCreateEmbedded
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestGroupedSignersExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      summary: Create Embedded Signature Request
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbedded.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbedded.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCreateEmbedded.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbedded.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbedded.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbedded.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbedded.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbedded.sh
      x-meta:
        seo:
          title: Create Embedded Signature Request | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ integrations. To find out how to create a new SignatureRequest in an\
            \ iFrame, click here."
  /signature_request/create_embedded_with_template:
    post:
      description: Creates a new SignatureRequest based on the given Template(s) to
        be signed in an embedded iFrame. <u>Note</u> that embedded signature requests
        can only be signed in embedded iFrames whereas normal signature requests can
        only be signed on Dropbox Sign.
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      summary: Create Embedded Signature Request with Template
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: Signature Request with Template | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to create a new SignatureRequest based on the given\
            \ Template, click here."
  /signature_request/edit/{signature_request_id}:
    put:
      description: |-
        Edits and sends a SignatureRequest with the submitted documents. If `form_fields_per_document` is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents.

        **NOTE:** Edit and resend will not deduct your signature request quota.
      operationId: signatureRequestEdit
      parameters:
      - description: The id of the SignatureRequest to edit.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditRequestGroupedSignersExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Edit Signature Request
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEdit.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEdit.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEdit.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEdit.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEdit.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEdit.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEdit.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEdit.sh
      x-meta:
        seo:
          title: Edit Signature Request | REST API | Dropbox Sign for Developers
          description: "Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to edit a SignatureRequest with the submitted documents,\
            \ click here."
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_embedded/{signature_request_id}:
    put:
      description: "Edits a SignatureRequest with the submitted documents to be signed\
        \ in an embedded iFrame. If form_fields_per_document is not specified, a signature\
        \ page will be affixed where all signers will be required to add their signature,\
        \ signifying their agreement to all contained documents. <u>Note</u> that\
        \ embedded signature requests can only be signed in embedded iFrames whereas\
        \ normal signature requests can only be signed on Dropbox Sign."
      operationId: signatureRequestEditEmbedded
      parameters:
      - description: The id of the SignatureRequest to edit.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequestGroupedSignersExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditEmbeddedResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      summary: Edit Embedded Signature Request
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbedded.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbedded.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditEmbedded.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbedded.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbedded.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbedded.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbedded.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbedded.sh
      x-meta:
        seo:
          title: Edit Embedded Signature Request | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API easily allows you to build custom\
            \ integrations. To find out how to edit a SignatureRequest in an iFrame,\
            \ click here."
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_embedded_with_template/{signature_request_id}:
    put:
      description: Edits a SignatureRequest based on the given Template(s) to be signed
        in an embedded iFrame. <u>Note</u> that embedded signature requests can only
        be signed in embedded iFrames whereas normal signature requests can only be
        signed on Dropbox Sign.
      operationId: signatureRequestEditEmbeddedWithTemplate
      parameters:
      - description: The id of the SignatureRequest to edit.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedWithTemplateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditEmbeddedWithTemplateResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      summary: Edit Embedded Signature Request with Template
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: Signature Request with Template | Dropbox Sign for Developers
          description: "The Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to edit a SignatureRequest based on the given Template,\
            \ click here."
      x-hideOn: doc
      x-beta: closed
  /signature_request/edit_with_template/{signature_request_id}:
    put:
      description: |-
        Edits and sends a SignatureRequest based off of the Template(s) specified with the template_ids parameter.

        **NOTE:** Edit and resend will not deduct your signature request quota.
      operationId: signatureRequestEditWithTemplate
      parameters:
      - description: The id of the SignatureRequest to edit.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestEditWithTemplateRequestDefaultExample'
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestEditWithTemplateResponseExample'
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Edit Signature Request With Template
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditWithTemplate.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditWithTemplate.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestEditWithTemplate.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditWithTemplate.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditWithTemplate.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditWithTemplate.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditWithTemplate.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditWithTemplate.sh
      x-meta:
        seo:
          title: Edit Signature Request with Template | API Documentation | Dropbox
            Sign for Developers
          description: "Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to edit a SignatureRequest based off of the Template,\
            \ click here."
      x-hideOn: doc
      x-beta: closed
  /signature_request/files/{signature_request_id}:
    get:
      description: |-
        Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a PDF or ZIP file.

        If the files are currently being prepared, a status code of `409` will be returned instead.
      operationId: signatureRequestFiles
      parameters:
      - description: The id of the SignatureRequest to retrieve.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `pdf` for a single merged document or `zip` for a collection
          of individual documents.
        explode: true
        in: query
        name: file_type
        required: false
        schema:
          default: pdf
          enum:
          - pdf
          - zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
            application/zip:
              schema:
                format: binary
                type: string
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "410_example":
                  $ref: '#/components/examples/Error410ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Download Files
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFiles.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFiles.cs
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: examples/SignatureRequestFiles.js
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFiles.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFiles.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFiles.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFiles.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFiles.sh
      x-meta:
        seo:
          title: Download Files | API Documentation | Dropbox Sign for Developers
          description: "The RESTful Dropbox Sign API allows you to build custom integrations.\
            \ To find out how to get the current documents specified by the parameters,\
            \ click here"
  /signature_request/files_as_data_uri/{signature_request_id}:
    get:
      description: |-
        Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a JSON object with a `data_uri` representing the base64 encoded file (PDFs only).

        If the files are currently being prepared, a status code of `409` will be returned instead.
      operationId: signatureRequestFilesAsDataUri
      parameters:
      - description: The id of the SignatureRequest to retrieve.
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        explode: false
        in: path
        name: signature_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "4XX":
          content:
            application/json:
              examples:
                "400_example":
                  $ref: '#/components/examples/Error400ResponseExample'
                "401_example":
                  $ref: '#/components/examples/Error401ResponseExample'
                "402_example":
                  $ref: '#/components/examples/Error402ResponseExample'
                "403_example":
                  $ref: '#/components/examples/Error403ResponseExample'
                "404_example":
                  $ref: '#/components/examples/Error404ResponseExample'
                "409_example":
                  $ref: '#/components/examples/Error409ResponseExample'
                "410_example":
                  $ref: '#/components/examples/Error410ResponseExample'
                "429_example":
                  $ref: '#/components/examples/Error429ResponseExample'
                "4XX_example":
                  $ref: '#/components/examples/Error4XXResponseExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: failed_operation
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      summary: Download Files as Data Uri
      tags:
      - Signature Request
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesAsDataUri.php
      - lang: C#
[...]
