// This is the entrypoint for the package
{{#vendorExtensions.x-ignore-block}}
export * from './api/apis';
{{#models.0}}
export * from './model/models';
{{/models.0}}
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
export * from './api/index';
{{#models.0}}
export * from './model/index';
{{/models.0}}
{{! CUSTOM - END }}
