{{>licenseInfo}}
{{#models}}
{{#model}}
{{#vendorExtensions.x-ignore-block}}
import { RequestFile } from './models';
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
import { RequestFile, AttributeTypeMap, ObjectSerializer } from './';
{{! CUSTOM - END }}
{{#tsImports}}
import { {{classname}} } from '{{filename}}';
{{/tsImports}}

{{#description}}
/**
* {{{.}}}
*/
{{/description}}
{{^isEnum}}
{{#vendorExtensions.x-ignore-block}}
export class {{classname}} {{#parent}}extends {{{.}}} {{/parent}}{
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
export {{#vendorExtensions.x-base-class}}abstract {{/vendorExtensions.x-base-class}}class {{classname}} {{#parent}}extends {{{.}}} {{/parent}}{
{{! CUSTOM - END }}
{{#vars}}
{{#description}}
    /**
    * {{{.}}}
    */
{{/description}}
{{#vendorExtensions.x-ignore-block}}
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}{{#defaultValue}} = {{#isEnum}}{{classname}}.{{/isEnum}}{{{.}}}{{/defaultValue}};
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{#vendorExtensions.x-int-or-string}}number | string{{/vendorExtensions.x-int-or-string}}{{^vendorExtensions.x-int-or-string}}{{{dataType}}}{{/vendorExtensions.x-int-or-string}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
{{! CUSTOM - END }}
{{/vars}}

    {{#discriminator}}
    static discriminator: string | undefined = "{{discriminatorName}}";
    {{/discriminator}}
    {{^discriminator}}
    static discriminator: string | undefined = undefined;
    {{/discriminator}}

    {{^isArray}}
{{#vendorExtensions.x-ignore-block}}
    static attributeTypeMap: Array<{name: string, baseName: string, type: string}> = [
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
    static attributeTypeMap: AttributeTypeMap = [
{{! CUSTOM - END }}
        {{#vars}}
        {
            "name": "{{name}}",
            "baseName": "{{baseName}}",
            "type": "{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}"
        }{{^-last}},
        {{/-last}}
        {{/vars}}
    ];

{{#vendorExtensions.x-ignore-block}}
    static getAttributeTypeMap() {
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
    static getAttributeTypeMap(): AttributeTypeMap {
{{! CUSTOM - END }}
        {{#parent}}
        return super.getAttributeTypeMap().concat({{classname}}.attributeTypeMap);
        {{/parent}}
        {{^parent}}
        return {{classname}}.attributeTypeMap;
        {{/parent}}
    }

{{! CUSTOM - BEGIN }}
{{#discriminator}}
    static discriminatorClassName(value: any): string | null {
        if ((value === undefined) || (value === null)) {
            return null;
        }

        {{#discriminator.mappedModels}}
            if (value === '{{mappingName}}') {
            return "{{modelName}}";
            }
        {{/discriminator.mappedModels}}

        return null;
    }
{{/discriminator}}
{{^discriminator}}
    /** Attempt to instantiate and hydrate a new instance of this class */
    static init(data: any): {{classname}} {
        return ObjectSerializer.deserialize(data, '{{classname}}');
    }
{{/discriminator}}
{{! CUSTOM - END }}
    {{/isArray}}
}

{{#hasEnums}}
export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
    export enum {{enumName}} {
        {{#allowableValues}}
        {{#enumVars}}
{{#vendorExtensions.x-ignore-block}}
        {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
        {{name}} = {{{value}}}{{^-last}},{{/-last}}
{{! CUSTOM - END }}
        {{/enumVars}}
        {{/allowableValues}}
    }
{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}
{{/isEnum}}
{{#isEnum}}
export enum {{classname}} {
    {{#allowableValues}}
    {{#enumVars}}
{{#vendorExtensions.x-ignore-block}}
    {{name}} = <any> {{{value}}}{{^-last}},{{/-last}}
{{/vendorExtensions.x-ignore-block}}
{{! CUSTOM - BEGIN }}
    {{name}} = {{{value}}}{{^-last}},{{/-last}}
{{! CUSTOM - END }}
    {{/enumVars}}
    {{/allowableValues}}
}
{{/isEnum}}
{{/model}}
{{/models}}
