{
    "name": "{{npmName}}",
    "version": "{{npmVersion}}",
    "description": "Official Node client for Dropbox Sign",
    "repository": {
        "type": "git",
        "url": "https://github.com/hellosign/dropbox-sign-node"
    },
    "bugs:": "apisupport@hellosign.com",
    "main": "dist/api.js",
    "types": "types/api.d.ts",
    "scripts": {
        "clean": "rm -Rf node_modules/ *.js",
        "build": "esbuild api.ts --bundle --platform=node --outfile=dist/api.js",
        "build-types": "tsc",
        "test": "jest",
        "prettier": "prettier --write ./api/ ./model/"
    },
    "author": "Dropbox Sign",
    "dependencies": {
        "axios": "^1.8.2",
        "bluebird": "^3.7.2",
        "form-data": "^4.0.0",
        "qs": "^6.10.3"
    },
    "devDependencies": {
        "@types/bluebird": "^3.5.33",
        "@types/jest": "^29.5.7",
        "@types/json-diff": "^1.0.3",
        "@types/node": "^20.8.10",
        "@types/qs": "^6.9.15",
        "axios-mock-adapter": "^1.20.0",
        "esbuild": "^0.25.1",
        "jest": "^29.7.0",
        "json-diff": "^0.7.1",
        "prettier": "2.5.1",
        "prettier-plugin-organize-imports": "^4.0.0",
        "ts-jest": "^29.1.1",
        "ts-node": "^10.9.1",
        "typescript": "^4.0 || ^5.0"
    }{{#npmRepository}},
    "publishConfig": {
        "registry": "{{npmRepository}}"
    }{{/npmRepository}}
}
