on: [push]
jobs:
  php-sdk-build:
    runs-on: ubuntu-latest
    steps:
    - name: Build PHP SDK
      uses: actions/checkout@v3
    - run: |
        bin/build-php

  python-sdk-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Python SDK
        uses: actions/checkout@v3
      - run: |
          bin/build-python

  ruby-sdk-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Ruby SDK
        uses: actions/checkout@v3
      - run: |
          bin/build-ruby

  nodejs-sdk-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build NodeJs SDK
        uses: actions/checkout@v3
      - run: |
          bin/build-node

  java-sdk-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Java SDK
        uses: actions/checkout@v3
      - run: |
          bin/build-java

  DotNet-sdk-build:
    runs-on: ubuntu-latest
    steps:
      - name: Build DotNet SDK
        uses: actions/checkout@v3
      - run: |
          bin/build-dotnet