{{#useCustomTemplateCode}}
{{#apiInfo}}
{{#apis}}
{{#-first}}
# flake8: noqa

# Import APIs into API package:
{{/-first}}
from {{apiPackage}}.{{classFilename}} import {{classname}}
{{/apis}}
{{/apiInfo}}
{{/useCustomTemplateCode}}
